<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 관리</title>

    <link rel="stylesheet" th:href="@{/css/member/infoModify.css}">

    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap" rel="stylesheet">

</head>
<body>

	<th:block th:replace="~{common/headerForContent}"></th:block>

    <main>
        <!-- 공백 (우) -->
        <section class="empty1"></section>
        
        <section id="signUpForm">
			
		<form th:action="@{/member/updateMember}" th:object="${session.loginMember}" method="post" name="updateMember" id="updateMember" enctype="multipart/form-data">

            <!-- 대제목 -->
            <section id="headerName">프로필 관리</section>
            <hr id="underLine"/>
            
            <section id="inputInfo">

                <section class="empty2"></section>
                <!-- 회원가입 정보 입력 -->
                <section id="inputSignUpForm">

                    <!-- 프로필 이미지 입력 -->
                    <section id="profileImgSection">
                        <section id="emptyWidth1"></section>

                        <section id="inputProfileImg">

							<section id="imgSection">
	                            <img th:unless="*{memberProfileImg}" id="profileImg" th:src="@{/images/memberImg/gg_profile.png}">
								
		                    	<img th:if="*{memberProfileImg}" id="profileImg" th:src="*{memberProfileImg}">
							</section>
                            
                            <section id="emptyWidth2"></section>

							<section id="uploadImgBtn">
								<label for="uploadProfileImg">프로필 이미지 선택</label>
								<input id="afterImg" name="afterImg" type="hidden" th:value="*{memberProfileImg}"></input>
								<input type="file" id="uploadProfileImg" name="profileImg">
								<label id="deleteProfileImg">프로필 이미지 삭제</label>
							</section>
                            	
                        </section>

                        <section id="emptyWidth3"></section>
                    </section>

                    <input class="inputSignUpInfo" id="inputNickname" name="memberNickname" type="text" placeholder="닉네임" th:value="*{memberNickname}">
                    <p class="sendMassage" id="nickMessage">한글, 영어, 숫자 2~10글자</p>
                    
                    <section id="searchIdBtnSection">
                        <section class="empty3"></section>
                        
                        <!-- 회원가입, 이전 페이지로 이동 버튼 -->
                        <section class="changePwBtn">
                            <a class="clickBtn" th:href="@{/member/searchPw}">비밀번호 변경</a>
							<a class="clickBtn" th:href="@{/member/phoneChange}">전화번호 변경</a>
                        </section>
                        
                        <section class="changePwBtn">
                            <button type="submit" class="clickBtn">수정완료</button>
                            <button type="button" class="clickBtn" th:onclick="|javascript:history.back();|">이전으로</button>
						</section>
                        
                        <section class="empty3"></section>
                    </section>

                </section>

                <section class="empty2"></section>

            </section>
        
        </form>

        </section>
        
        <!-- 공백 (좌) -->
        <section class="empty1"></section>

    </main>

    <div class="empty4"></div>
	
	<th:block th:replace="~{common/footer}"></th:block>
	
	<script th:src="@{/js/member/infoModify.js}"></script>
	
</body>
</html>