<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>관리자용 예약 정보 확인</title>

	<link rel="stylesheet" th:href="@{/css/member/reservationNManage.css}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap"
		rel="stylesheet">

</head>

<body>

	<th:block th:replace="~{common/headerForContent}"></th:block>

	<main>
		<!-- 공백 (우) -->
		<section class="empty1"></section>

		<section id="signUpForm">

			<!-- 대제목 -->
			<div id="headerTitle">
				<section id="headerName">관리자 예약 정보 확인</section>
				<button type="button" class="clickBtn" th:onclick="|javascript:history.back();|">이전으로</button>
			</div>
			<hr id="underLine" />

			<div id="container">

				<section class="objectSection" th:each="list : ${list}">
					<section class="empty3"></section>
					
					<section class="objectListSection">
						
						<section id="objectList">
							
							<!-- 캠핑장 정보 -->
							<section class="reservationInfo">
								<img class="icon" th:src="@{/images/memberImg/carbon_map.png}">
								<section class="empty4"></section>
								<p th:text="|${list.CAMP_NAME} ( ${list.CAMP_DE_NAME} )|" class="info"></p>
							</section>
							
							<section class="reservationInfo">
								<img class="icon" th:src="@{/images/memberImg/Group.png}">
								<section class="empty4"></section>
								<p th:text="|Date&nbsp; :&nbsp; ${list.CHECKIN_DATE} ~ ${list.CHECKOUT_DATE}|" class="info">
								</p>
							</section>
							
							<section class="reservationInfo">
								<img class="icon" th:src="@{/images/memberImg/tdesign_member.png}">
								<section class="empty4"></section>
								<p th:text="| ${list.SENDER_NAME} |" class="info"></p>
							</section>
							
							<section class="reservationInfo">
								<img class="icon" th:src="@{/images/memberImg/mingcute_bank-card-line.png}">
								<section class="empty4"></section>
								<p th:text="| 요청 계좌 : ${list.BANK_ACCOUNT}|" class="info"></p>
							</section>
							<hr>

						</section>
						
						<section class="empty3"></section>
						
						<div id="backBtn">
							<button type="button" class="clickBtn" th:onclick="|confirm(${list.PAYMENT_NO})|">입금 확인</button>
						</div>

					</section>
				
				</section>

		</div>
			
			<!-- 공백 (좌) -->
			<section class="empty1"></section>
			
		</main>
		
		
		<div class="empty5"></div>
		
		<script th:src="@{/js/member/paymentManage.js}"></script>
		<th:block th:replace="~{common/footer}"></th:block>
		
	</body>

	</html>