<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 관리 페이지 (미승인)</title>

    <link rel="stylesheet" href="/CSS/reservationNManage.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap" rel="stylesheet">

</head>
<body>

    <header class="topBar">

        <div class="topMenu">

            <div class="leftOfTopMenu">
                <a href="#">COMMUNITY</a>
                <a href="#">CONTACT</a>
                <a href="#">ABOUT US</a>
            </div>

            <div class="rightOfTopMenu">
                <a href="#">LOGIN</a>
                <a href="#">TOP</a>
            </div>

        </div>

        <a class="mainTitle" href="/">C A M P L E X </a>

        <div class="bottomMenu">
            <a href="#">CAMPING</a>
            <a href="#">RENTAL</a>
            <a href="#">BOARD</a>
            <a href="#">EVENT</a>
        </div>

    </header>


    <main>
        <!-- 공백 (우) -->
        <section class="empty1"></section>
        
        <section id="signUpForm">

            <!-- 대제목 -->
            <section id="headerName">예약 관리 (미승인)</section>
            <hr id="underLine"/>
            
            <section id="reservationYNBtn">
                <p id="reservationNBtn">미승인 예약</p>
                <section id="empty2"></section>
                <a id="reservationYBtn">승인 예약</a>
            </section>

            <section id="objectSection">
                <section class="empty3"></section>

                <section class="objectListSection">

                    <section id="objectList">

                        <section class="reservationInfo">
                            <img class="icon" src="/IMG/위치icon.png">
                            <section class="empty4"></section>
                            <a class="info">강원 양양군 손양면 선사유적로 316-54</a>
                        </section>

                        <section class="reservationInfo">
                            <img class="icon" src="/IMG/달력icon.png">
                            <section class="empty4"></section>
                            <a class="info">Dates : Apr 20 - Apr 24</a>
                        </section>

                        <section class="reservationInfo">
                            <img class="icon" src="/IMG/사람icon.png">
                            <section class="empty4"></section>
                            <a class="info">Guests : 홍길동 외 2인</a>
                        </section>

                        <section class="reservationInfo">
                            <img class="icon" src="/IMG/데크icon.png">
                            <section class="empty4"></section>
                            <a class="info">예약 데크: B-1</a>
                        </section>

                    </section>

                    <section id="rentalObjList">
                        <section class="rentalObj">
                            <a>DoD 가바보꼬 텐트 2인<span>&nbsp;&nbsp;&nbsp;1</span></a>
                        </section>
                        <section class="rentalObj">
                            <a>알전구 (건전지)<span>&nbsp;&nbsp;&nbsp;3</span></a>
                        </section>
                        <section class="rentalObj">
                            <a>스노우피크 릴렉스 체어<span>&nbsp;&nbsp;&nbsp;2</span></a>
                        </section>
                        <section class="rentalObj">
                            <a>스탠리 워터저그 500L<span>&nbsp;&nbsp;&nbsp;1</span></a>
                        </section>
                    </section>

                </section>

              
                <section class="empty3"></section>
            </section>
            
            <section id="reservationBtnSection">

                <section class="empty6"></section>

                <a>예약 확인</a>
                <section></section>
                <a>예약 불가</a>

                <section class="empty6"></section>

            </section>
            <section id="objectSection">
                <section class="empty3"></section>

                <section class="objectListSection">

                    <section id="objectList">

                        <section class="reservationInfo">
                            <img class="icon" src="/IMG/위치icon.png">
                            <section class="empty4"></section>
                            <a class="info">강원 양양군 손양면 선사유적로 316-54</a>
                        </section>

                        <section class="reservationInfo">
                            <img class="icon" src="/IMG/달력icon.png">
                            <section class="empty4"></section>
                            <a class="info">Dates : Apr 20 - Apr 24</a>
                        </section>

                        <section class="reservationInfo">
                            <img class="icon" src="/IMG/사람icon.png">
                            <section class="empty4"></section>
                            <a class="info">Guests : 홍길동 외 2인</a>
                        </section>

                        <section class="reservationInfo">
                            <img class="icon" src="/IMG/데크icon.png">
                            <section class="empty4"></section>
                            <a class="info">예약 데크: B-1</a>
                        </section>

                    </section>

                    <section id="rentalObjList">
                        <section class="rentalObj">
                            <a>DoD 가바보꼬 텐트 2인<span>&nbsp;&nbsp;&nbsp;1</span></a>
                        </section>
                        <section class="rentalObj">
                            <a>알전구 (건전지)<span>&nbsp;&nbsp;&nbsp;3</span></a>
                        </section>
                        <section class="rentalObj">
                            <a>스노우피크 릴렉스 체어<span>&nbsp;&nbsp;&nbsp;2</span></a>
                        </section>
                        <section class="rentalObj">
                            <a>DoD 가바보꼬 텐트 2인<span>&nbsp;&nbsp;&nbsp;1</span></a>
                        </section>
                        <section class="rentalObj">
                            <a>스탠리 워터저그 500L<span>&nbsp;&nbsp;&nbsp;1</span></a>
                        </section>
                        <section class="rentalObj">
                            <a>알전구 (건전지)<span>&nbsp;&nbsp;&nbsp;1</span></a>
                        </section>
                    </section>

                </section>

              
                <section class="empty3"></section>
            </section>
            
            <section id="reservationBtnSection">

                <section class="empty6"></section>

                <a>예약 확인</a>
                <section></section>
                <a>예약 불가</a>

                <section class="empty6"></section>

            </section>


        </section>
        
        <!-- 공백 (좌) -->
        <section class="empty1"></section>

    </main>


    <div class="empty5"></div>
    
    <footer class="bottomBar">
        <a class="footerTitle">CAMPLEX</a>

        <div class="footerMenu">
            <a href="#">ABOUT US</a> <p class="menuDiv">|</p>
            <a href="#">AGREEMENT</a> <p class="menuDiv">|</p>
            <a href="#">GUIDE</a>
        </div>

        <div class="footerContent">
            <p>회사명 캠플렉스 주식회사</p>
            <p>주소 서울특별시 중구 남대문로 120</p>
            <p>본 사이트내 모든 이미지 및 컨텐츠 등은 저작권법 제4조의 의한 저작물로써</p> 
            <p>소유권은 CAMPLEX 주식회사 에게 있으며, 무단 도용시 법적인 제재를 받을 수 있습니다.</p>
        </div>

    </footer>

</body>
</html>