@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: 1% 500%;
    unicode-range: U+AC00-D7A3;
}

*{
    font-family: 'HakgyoansimSantteutdotumL', 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topBar{
    width: 100%;
    height: 170px;

    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    transition-duration: 0.3s;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(216, 216, 216);
	opacity: 0.7;
    transition-duration: .3s;
}

.topBar:hover {
    background-color: #bababa;
    opacity: 0.7;
}
/* .topBar:hover a{
	color: #fff;
}  */

.topMenu{
    width: 100%;

    flex-basis: 5%;

    display: flex;
    justify-content: space-between;
}

.topMenu a{
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.7rem;
}

.mainTitle{
    flex-basis: 50%;
    align-self: center;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    margin: 20px 0;

    height: 60px;
    line-height: 60px;
    color: #000;
    letter-spacing: 5px;
}

.bottomMenu{
    flex-basis: 45%;
    display: flex;
    align-self: center;
}

.bottomMenu a {
    color: #000;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 600;
    font-size: 0.7rem;
     position: sticky;
    top: 0;
}

html {
    scroll-behavior: smooth;
}

#mainTitle{
	background-color: transparent;
	border: none;
	cursor: pointer;
}

a { 
  display:inline-block; 
  margin:0;
  text-transform:uppercase; 
}
  

.topBar a:after {

  display:block;
  content: '';
  border-bottom: solid 1px #000;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.topBar a:hover:after { transform: scaleX(1); }
