 <link rel="stylesheet" th:href="@{/css/common/footer.css}">
 
 <footer class="bottomBar">
        <a class="footerTitle">CAMPLEX</a>

        <div class="footerMenu">
            <a href="#">ABOUT US</a> <p class="menuDiv">|</p>
            <a href="#">AGREEMENT</a> <p class="menuDiv">|</p>
            <a href="#">GUIDE</a>
        </div>

        <div class="footerContent">
            <p>회사명 캠플렉스 주식회사</p>
            <p>주소 서울특별시 중구 남대문로 120</p>
            <p>본 사이트내 모든 이미지 및 컨텐츠 등은 저작권법 제4조의 의한 저작물로써</p> 
            <p>소유권은 CAMPLEX 주식회사 에게 있으며, 무단 도용시 법적인 제재를 받을 수 있습니다.</p>
        </div>

    </footer>