<link rel="stylesheet" th:href="@{/css/common/headerForContent.css}">

	<header class="topBar">

        <div class="topMenu">

            <div class="leftOfTopMenu">
                <a href="#">COMMUNITY</a>
                <a href="#">CONTACT</a>
                <a href="#">ABOUT US</a>
            </div>

            <div class="rightOfTopMenu">
                <a th:unless="@{session.loginMember}" th:href="@{/member/login}">LOGIN</a>
				    <th:block th:if="@{session.loginMember}">
	                <a th:href="@{/member/myPage}">MY PAGE</a>
	                <a th:href="@{/member/logout}">LOGOUT</a>
				    </th:block>
                <a href="#">TOP</a>
            </div>

        </div>

        <a class="mainTitle" href="/">C A M P L E X </a>

        <div class="bottomMenu">
            <a th:href="@{/camp/search}">CAMPING</a>
            <a th:href="@{/rental/search}">RENTAL</a>
            <a href="#">BOARD</a>
            <a href="#">EVENT</a>
        </div>

    </header>
