<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMPLEX메인</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/common/main.css}">
</head>
<body>
    
     <th:block th:replace="~{common/header}"></th:block>
    
    <main>

        <ul id="mainImageNum">
            <li data-menumain="main1" class>
                <a href="#main1">1</a>
            </li>

            <p>ㅡ</p>

            <li data-menumain="main2" class>
                <a href="#main2">2</a>
            </li>

            <p>ㅡ</p>

            <li data-menumain="main3" class>
                <a href="#main3">3</a>
            </li>

            <p>ㅡ</p>

            <li data-menumain="main4" class>
                <a href="#main4">4</a>
            </li>
        </ul>

        <section class="mainImage" id="image-slider">
            
            <div id="main1">
                <img src="/images/main1.jpg">
                <p id="p1">CAMPING X RENTAL</p>
                <p id="p2">볕 좋은 어느 겨울날의 편안한 캠핑</p>
            </div>
            
            <div id="main2">
                <img src="/images/main2.jpg">
                <p id="p1">CAMPING X RENTAL</p>
                <p id="p2">볕 좋은 어느 겨울날의 편안한 캠핑</p>
                <button id="mainbutton">캠핑장 보러가기</button>
            </div>

            <div id="main3">
                <img src="/images/main3.jpg">
                <p id="p1">CAMPING X RENTAL</p>
                <p id="p2">볕 좋은 어느 겨울날의 편안한 캠핑</p>
            </div>

            <div id="main4">
                <img src="/images/main4.jpg">
                <p id="p1">CAMPING X RENTAL</p>
                <p id="p2">볕 좋은 어느 겨울날의 편안한 캠핑</p>
            </div>
        </section>

    </main>

  <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>