<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정 2</title>

    <link rel="stylesheet" th:href="@{/css/member/idPw/pwReset2.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap" rel="stylesheet">

</head>
<body>

	<th:block th:replace="~{common/headerForContent}"></th:block>

    <main>
        <!-- 공백 (우) -->
        <section class="empty1"></section>
        
        <section id="loginForm">
		
		<form th:action="@{/member/pwReset2}" method="post" name="pwReset">

            <!-- 대제목 -->
            <section id="headerName">PW 재설정</section>
            <hr id="underLine"/>
            
            <section id="inputInfo">

                <section class="empty2"></section>
                <!-- 이메일, 인증번호 입력 -->
                <section id="inputPwPwRe">
					
					<input type="hidden" name="memberEmail" th:value="${memberEmail}">

                    <input id="inputPw" name="memberPw" type="password" placeholder="비밀번호">
                    <input id="inputPwRe" type="password" placeholder="비밀번호 확인">
                    <p id="pwMessage">영어,숫자,특수문자(!,@,#,-,_) 6~20글자</p>

                    <section id="searchIdBtnSection">
                        <section class="empty3"></section>
                        
                        <!-- PW 변경, 이전 페이지로 이동 버튼 -->
                        <section id="changePwBtn">
                            <button type="submit" class="clickBtn">PW 변경</button>
                        </section>
                        
                        <section class="empty3"></section>
                    </section>

                </section>
                <section class="empty2"></section>

            </section>

		</form>

        </section>
        
        <!-- 공백 (좌) -->
        <section class="empty1"></section>

    </main>

	<script th:src="@{/js/member/pwReset2.js}"></script>
    
</body>
</html>