<!DOCTYPE html>
<html lang="en" th:href="@{/css/common/header.css}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정 1</title>

    <link rel="stylesheet" th:href="@{/css/member/idPw/pwReset1.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap" rel="stylesheet">

</head>
<body>

    <header class="topBar">

        <div class="topMenu">

            <div class="leftOfTopMenu">
                <a href="#">COMMUNITY</a>
                <a href="#">CONTACT</a>
                <a href="#">ABOUT US</a>
            </div>

            <div class="rightOfTopMenu">
                <a href="#">TOP</a>
            </div>
            
        </div>
        
        <a class="mainTitle">C A M P L E X </a>
        
        <div class="bottomMenu">
            <a href="#">CAMPING</a>
            <a href="#">RENTAL</a>
            <a href="#">BOARD</a>
            <a href="#">ORDER</a>
        </div>

    </header>

    <main>
        <!-- 공백 (우) -->
        <section class="empty1"></section>
        
        <section id="loginForm">

            <!-- 대제목 -->
            <section id="headerName">PW 재설정</section>
            <hr id="underLine"/>
            
            <section id="inputInfo">

                <section class="empty2"></section>
                <!-- 이메일, 인증번호 입력 -->
                <section id="inputEmailAuthekey">

                    <input id="inputEmail" type="email" placeholder="이메일">
                    <p id="authkeySendMassage">인증번호가 발송되었습니다.</p>
                    <input id="inputAuthkey" type="text" placeholder="인증번호">

                    <section id="searchIdBtnSection">
                        <section class="empty3"></section>
                        
                        <!-- PW 변경, 이전 페이지로 이동 버튼 -->
                        <section id="changePwBtn">
                            <button class="clickBtn">PW 재설정</button>
                            <button class="clickBtn" th:onclick="|location.href='@{/member/login}'|">이전으로</button>
                        </section>
                        
                        <section class="empty3"></section>
                    </section>

                </section>
                <section class="empty2" id="emailCheckBtnSection">
                    <button class="emailCheckBtn">인증</button>
                    <button class="emailCheckBtn" id="checkEmail">확인</button>
                </section>

            </section>


        </section>
        
        <!-- 공백 (좌) -->
        <section class="empty1"></section>

    </main>

    
</body>
</html>