<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기 1</title>

    <link rel="stylesheet" th:href="@{/css/member/idPw/searchId1.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap" rel="stylesheet">

</head>
<body>

	<th:block th:replace="~{common/headerForContent}"></th:block>

    <main>
        <!-- 공백 (우) -->
        <section class="empty1"></section>
        
        <section id="loginForm">
			
		<form th:action="@{/member/searchId1}" id="searchId1" method="post" name="pwReset">

            <!-- 대제목 -->
            <section id="headerName">ID 찾기</section>
            <hr id="underLine"/>
            
            <section id="inputInfo">

                <section class="empty2"></section>
                <!-- 이름, 전화번호 입력 -->
                <section id="inputNameTel">

                    <input id="inputName" type="text" placeholder="이름">
                    <input id="inputTel" type="tel" placeholder="전화번호">
					<p class="authkeySendMassage">인증번호가 발송되었습니다.</p>
                    <input id="inputAuthkey" type="text" placeholder="인증번호">
					<p class="authkeySendMassage">인증번호가 발송되었습니다.</p>

                    <section id="searchIdBtnSection">
                        <section class="empty3"></section>
                        
                        <!-- ID 찾기, 이전 페이지로 이동 버튼 -->
                        <section id="searchIdBtn">
                            <button class="clickBtn">ID 찾기</button>
                            <button class="clickBtn" th:onclick="|javascript:history.back();|">이전으로</button>
                        </section>
                        
                        <section class="empty3"></section>
                    </section>

                </section>
                <section class="empty2" id="numberCheckBtnSection">
					<button class="emailCheckBtn" id="sendAuthkey">인증</button>
                    <button class="emailCheckBtn" id="checkNumber">확인</button>
				</section>

            </section>

		</form>

        </section>
        
        <!-- 공백 (좌) -->
        <section class="empty1"></section>

    </main>

	<script th:src="@{/js/member/searchId1.js}"></script>
    
</body>
</html>