<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지 (관리자)</title>

    <link rel="stylesheet" th:href="@{/css/member/myPage/managerMyPage.css}">

    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap" rel="stylesheet">

</head>
<body>

	<th:block th:replace="~{common/headerForContent}"></th:block>

    <main th:object="${session.loginMember}">
        <!-- 공백 (우) -->
        <section class="empty1"></section>
        
        <section id="myPageSection">
            
            <!-- 대제목 -->
            <section id="headerName">관리자 마이페이지</section>
            <hr id="underLine"/>
            
            <!-- 정보 -->
            <section id="myInfo">
                <!-- 내부공백 (우) -->
                <section class="empty2"></section>
                
                <!-- 내 정보 -->
                <section id="infoMain">
                    <section id="profileImgSection">
						
	                    <img th:unless="*{memberProfileImg}" id="profileImg" th:src="@{/images/memberImg/gg_profile.png}">
						
	                    <img th:if="*{memberProfileImg}" id="profileImg" th:src="*{memberProfileImg}">

					</section>
                    
                    <section class="empty2"></section>
                    <section id="nameTel">
                        <p th:inline="text">이름 : [[${session.loginMember.memberName}]]</p>
                        <p th:inline="text">전화번호 : [[${session.loginMember.memberPhone}]]</p>
                    </section>
                    <section class="empty3"></section>
                    
                    <section id="nicknameEmail">
                        <p th:inline="text">닉네임 : [[${session.loginMember.memberNickname}]]</p>
                        <p th:inline="text">Email : [[${session.loginMember.memberEmail}]]</p>
                    </section>
                    <section class="empty2"></section>
                    
                    <section class="btnSection">
                        <a th:href="@{/member/infoModify}">프로필 관리</a>
                        <a th:href="@{/member/memberWithdrawal1}">회원 탈퇴</a>
                    </section>
                </section>
                
                
                <!-- 내부공백 (좌) -->
                <section class="empty2"></section>
            </section>
            

            <!-- 예약 정보 확인, 1대 1문의, 업데이트 요청 -->
            <section class="functionBtn">
                <a>예약 정보 확인<span>&nbsp;&nbsp;3</span></a>
                <a>1대 1 문의<span>&nbsp;&nbsp;1</span></a>
                <a th:href="@{/member/levelUpFormCheck}">업데이트 요청<span>&nbsp;&nbsp;2</span></a>
            </section>
            
            <section class="functionBtn" id="functionBtn2">
                <a>공지사항</a>
                <a>캠핑장 업로드</a>
                <a>렌탈 상품 업로드</a>
            </section>

            <section class="functionBtn">
            </section>

            
        </section>
        
        <!-- 공백 (좌) -->
        <section class="empty1"></section>

    </main>

    <div class="empty5"></div>
    
	<th:block th:replace="~{common/footer}"></th:block>

</body>
</html>