<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>예약 내역</title>

	<link rel="stylesheet" th:href="@{/css/member/myPage/reservationDetails.css}">
	<link rel="icon" th:href="@{/images/iconImg/favicon.png}">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap"
		rel="stylesheet">

</head>

<body>

	<th:block th:replace="~{common/headerForContent}"></th:block>

	<main>
		<!-- 공백 (우) -->
		<section class="empty1"></section>

		<section id="myPageSection">

			<!-- 대제목 -->
			<section id="headerName">예약 내역</section>
			<hr id="underLine" />

			<!-- 예약 내역 정보 -->
			<section id="titleSection">

				<section class="empty2"></section>

				<section id="title">

					<div id="campInfoFont">캠핑장 정보</div>
					<div id="rentalInfoFont">렌탈 상품 정보</div>

				</section>

				<section class="empty2"></section>

			</section>
			<section class="buyListSection">


				<th:block th:if="${upcomingReservation.size != 0}">




					<div class="buyInfo" th:each="upcomingRes : ${upcomingReservation}">

						<div class="buyPayInfo">

							<section class="empty2"></section>

							<section class="shopingList">

								<div class="campRentalInfo">

									<div class="campInfo">
										<div class="campImgDiv">
											<img th:src="${upcomingRes.thumbnail}" class="campImg">
										</div>
										<div class="campNameInfoPrice">
											<a th:text="|[${upcomingRes.campName}] ( ${upcomingRes.campDeName} )|">캠핑장 명</a>
											<p th:text="|[${upcomingRes.campAddress}] ( ${upcomingRes.campAddress} )|">캠핑장 명</p>
											<p th:text="|입실 일&nbsp; :&nbsp; ${upcomingRes.campEntDate2}|"></p>
											<p th:text="|캠핑장 금액&nbsp; :&nbsp; ${#numbers.formatInteger(upcomingRes.campPayment, 3, 'COMMA')}￦|"></p>
										</div>
									</div>

									<div class="rentalInfo">

										<div class="rentalSection">

											<div class="rentalNamePrice">

												<th:block th:if="${upcomingRes.itemList.size > 0}">

													<th:block th:each="itemList : ${upcomingRes.itemList}">
														<div class="itemList">
															<div class="itemImgDiv">
																<img th:src="${itemList.thumbnail}" class="itemImg">
															</div>
															<div class="itemName">
																<p th:text="|${itemList.itemName}|"></p>
																<p th:text="|렌탈 금액&nbsp; :&nbsp; ${#numbers.formatInteger(itemList.itemPrice, 3, 'COMMA')}￦|"></p>
															</div>
														</div>
													</th:block>

												<p th:text="|렌탈 총 금액&nbsp; :&nbsp; ${#numbers.formatInteger(upcomingRes.totalPrice, 3, 'COMMA')} ￦|"></p>
												</th:block>

												<th:block th:if="${upcomingRes.itemList.size == 0}">
													<p>렌탈 상품&nbsp; : 이용하신 렌탈 상품이 없습니다.</p>
													<p>렌탈 총 금액&nbsp; : 0 ￦</p>
												</th:block>

											</div>

										</div>


									</div>

								</div>

								<div class="totalPrice">
									<p th:text="|결제 수단&nbsp; :&nbsp; ${upcomingRes.paymentType} |"></p>
									<p th:text="|총 결제&nbsp; :&nbsp; ${#numbers.formatInteger(upcomingRes.campPayment + upcomingRes.totalPrice, 3, 'COMMA')} ￦|"></p>
								</div>

							</section>

							<section class="empty2"></section>

						</div>

					</div>




				</th:block>

				<th:block th:if="${upcomingReservation.size == 0}">

					<section class="buyHistoryInfo">
						<section class="buyInfo">
							<p>내역이 존재하지 않습니다.</p>
						</section>
					</section>

				</th:block>

			</section>



		</section>



		<!-- 공백 (좌) -->
		<section class="empty1"></section>

	</main>

	<div class="empty5"></div>

	<th:block th:replace="~{common/footer}"></th:block>

</body>

</html>