<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>위시리스트</title>
    <link rel="stylesheet" th:href="@{/css/member/mypage/wishList.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap}" rel="stylesheet">
</head>
<body>
    
    <th:block th:replace="~{common/headerForContent}"></th:block>
    
    <div class="mainContainer">
        <!--레프트빈공간-->
        <div class="emptyContainer"></div>
        
        <!--메인공간-->
        <div class="midContainer">
            
            <h2 class="heading">CAMPING WISHLIST</h2>

            <table class="campingListTB">
                <tr>
                    <!-- 전체선택체크박스 js구현하기-->
                    <!-- th 위 진한선 아래 연한선주고 추가되는 상품의 밑 마다 선주기-->
                    <th><input type="checkbox" id="selectAllCamp" th:onclick="selectAllCamp(group1)"></th>
                    <th>번호</th>
                    <th>사진</th>
                    <th>캠핑장 명</th>
                    <th></th>
                    <th></th>
                    <th>취소</th>
                </tr>
                <!-- tr 추가되는식으로 상품추가-->
                <!-- 없으면 없다고 표시하자!!-->
                <tr th:if="${camp == null || camp.empty}">
					<td></td>
					<td></td>
					<td></td>
					<td>등록된 캠핑장이 없습니다.</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
                <th:block th:unless="${camp == null}" th:each="camp, iterStat : ${camp}">
	                <tr th:id="'tr'+${camp.campNo}" class="campTr" th:data-ccn="'ccn'+${iterStat.count}">
	                    <!-- 개별선택체크박스-->
	                    <td><input type="checkbox" class=""></td>
	                    <td th:text="${iterStat.count}">넘버</td>
	                    <td><img th:src="@{/images/itemImg/0340020000042.jpg}" alt="수정전"></td>
	                    <td>[[${camp.campName}]]<a th:href="|/camp/${camp.campNo}|" class = "grayBtn rsvBtn" th:text="예약하기">예약하기</a></td>
	                    <td></td>
	                    <td></td>
	                    <td><button class="grayBtn" th:onclick="'deleteCampWish(' + ${camp.campNo} + ');'" th:text="DELETE">DELETE</button></td>
	                </tr>
                </th:block>
               
            </table>

            <h2 class="heading">ITEM LIST</h2>

            <table class="itemListTB">
                <tr>
                    <th><input type="checkbox" class=""></th>
                    <th>번호</th>
                    <th>사진</th>
                    <th>상품명</th>
                    <th></th>
                    <th>금액</th>
                    <th>취소</th>
                </tr>
                <!-- 위와 같은 참고사항 지킬것-->
                   <tr th:if="${item == null || item.empty}">
					<td></td>
					<td></td>
					<td></td>
					<td>등록된 상품이 없습니다.</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
                <th:block th:unless="${item == null}" th:each="item, iterStat : ${item}">
	                <tr th:id="'tr'+${item.itemNo}">
	                    <!-- 개별선택체크박스-->
	                    <td><input type="checkbox" class=""></td>
	                    <td th:text="${iterStat.count}">넘버</td>
	                    <td><img th:src="@{/images/itemImg/0340020000042.jpg}" alt="수정전"></td>
	                    <td>[[${item.itemName}]]</td>
	                    <td></td>
	                    <td>[[${item.itemPrice}]]</td>
	                    <td><button class="grayBtn" th:onclick="'deleteItemWish(' + ${item.itemNo} + ');'" th:text="DELETE">DELETE</button></td>
	                </tr>
                </th:block>
               
            </table>
            <div class="buttonList">
                <button class="Btn">선택삭제</button>
                <a th:href="@{/paysys/rentCart}" class="Btn">장바구니</a>
                <a href="javascript:history.back()" class="Btn backBtn">돌아가기</a>
            </div>
        </div>
        
        <!--라이트빈공간-->
        <div class="emptyContainer"></div>
    </div>

    <th:block th:replace="~{common/footer}"></th:block>
    <script th:src="@{/js/member/wishlist.js}"></script>

</body>
</html>