<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트리스트</title>

    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/92fbd4b351.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/event/eventList.css}">
</head>
<body>
    
    <th:block th:replace="~{common/headerForContent}"></th:block>
    
    <main>

        <section class="eventTitle">
            <p>다양한 이벤트</p>

        </section>

        <hr style="margin-top: 20px; margin-left: 8%; width: 84%; margin-right: 40%;">

        <div class="eventList">

            <div class="eventImg">
                <a th:href="@{/event/eventCoupon}"><img th:src="@{/images/eventImg/eventImage1.jpg}">
                <p>쿠폰 이벤트</p></a>
            </div>
            
            <div class="eventImg">
                <a th:href="@{/event/eventRoulette}"><img th:src="@{/images/eventImg/eventImage2.jpg}">
                <p>룰렛 이벤트</p></a>
            </div>

            <div class="eventImg">
                <a th:href="@{/event/eventRoulette}"><img src="/images/eventImg/eventImage3.jpg">
                <p>뽑기 이벤트</p></a>
            </div>

            <div class="eventImg">
                <a th:href="@{/event/eventRoulette}"><img src="/images/eventImg/eventImage1.jpg">
                <p>쿠폰 이벤트</p></a>
            </div>

            <div class="eventImg">
                <a th:href="@{/event/eventRoulette}"><img src="/images/eventImg/eventImage2.jpg">
                <p>룰렛 이벤트</p></a>
            </div>

            <div class="eventImg">
                <a th:href="@{/event/eventRoulette}"><img src="/images/eventImg/eventImage3.jpg">
                <p>뽑기 이벤트</p></a>
            </div>

        </div>
        
    </main>

    <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>