<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅봇</title>
    
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link rel="stylesheet" th:href="@{/css/chatdemo/chatdemo.css}">
</head>

<body>
	
	<button type='button' id="modal_btn"><img th:src="@{/images/iconImg/chatbot.png}"></button>
	
	<div class="modal_background" id="modalBack"></div>
	
	<div class="modal_wrap" id="modalContainer">
    
    	<div class="modal_close" style="cursor: pointer;">x</div>
    	
	    	<div class="text">
				
	        <noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
		    enabled. Please enable
		    Javascript and reload this page!</h2></noscript>
		    
			<div id="main-content" class="container">
			    <div class="row">
			        <div style="display: none;" class="col-md-6">
			            <form class="form-inline">
			                <div class="form-group">
			                    <label for="connect">채팅봇 연결하기 </label>
			                    <button id="connect" class="btn btn-default" type="submit">연결</button>
			                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">해제
			                    </button>
			                </div><br>
			            </form>
			        </div>
			        <div class="col-md-6">
			            <form class="form-inline">
			                <div class="form-group">
			                    <label for="msg">안녕하세요 CAMPLEX입니다. 무엇을 도와드릴까요?<br>
												보기에서 문의사항에 해당하는 내용을 선택해주세요.<br><br>
												1 :  캠핑장<br>
												2 :  캠핑물품<br>
												3 :  게시판<br>
												4 :  직접 문의<br><br>
												</label>
			                </div>
			                
			                <input type="text" id="msg" class="form-control" placeholder="내용을 입력하세요">
			                <button id="send" class="btn btn-default" disabled type="submit">보내기</button>
			            </form>
			        </div>
			    </div>
			    
			    <div class="row">
			        <div class="col-md-12">
			            <table id="conversation" class="table table-striped">
			                <thead>
			                </thead>
			                <tbody id="communicate">
			                </tbody>
			            </table>
			        </div>
			    </div>
			    
			</div>
			
	    </div>
	    
	</div>
	
</body>
	
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
		
	<script th:src="@{/js/chatdemo/chatdemo.js}"></script>
		
</html>
	    