<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace를 Mapper 인터페이스로 지정 -->
<mapper namespace="com.camplex.project.qna.mappers.ceoQnaMapper">
	
	<resultMap type="ceoQna" id="ceoQna_rm">
		<id property="ceoQnaNo" column="CEO_QNA_NO"/>
		
		<result property="ceoQnaTitle" column="CEO_QNA_TITLE" />
		<result property="ceoQnaContent" column="CEO_QNA_CONTENT" />
		<result property="ceoQnaAnswer" column="CEO_QNA_ANSWER" />
		<result property="ceoAnswerFlag" column="ANSWER_FL" />
		<result property="ceoQnaCreateDate" column="Q_CREATE_DATE" />
		
		<result property="memberNo" column="MEMBER_NO" />
		<result property="campNo" column="CAMP_NO" />
	</resultMap>
	
	<insert id="insertCeoQna">
		INSERT INTO CEO_QNA
		VALUES(SEQ_CEO_QNA_NO.NEXTVAL, #{memberNo}, #{campNo}, #{ceoQnaTitle}, #{ceoQnaContent}, NULL, DEFAULT, DEFAULT)
	</insert>
	
	<select id="ceoQnaCount" resultType="_int">
		SELECT COUNT(*)
		FROM CEO_QNA
		WHERE ANSWER_FL = 'N'
	</select>
	
	<select id="selectCeoQna" resultMap="ceoQna_rm">
		SELECT CEO_QNA_NO, CEO_QNA_TITLE,
		CEO_QNA_CONTENT, CEO_QNA_ANSWER, ANSWER_FL, Q_CREATE_DATE, MEMBER_NO, CAMP_NO
		FROM CEO_QNA
		WHERE ANSWER_FL = 'N'
		ORDER BY 'CEO_QNA_NO' ASC
	</select>
	
	<select id="selectCeoQnaY" resultMap="ceoQna_rm">
		SELECT CEO_QNA_NO, CEO_QNA_TITLE,
		CEO_QNA_CONTENT, CEO_QNA_ANSWER, ANSWER_FL, Q_CREATE_DATE, MEMBER_NO, CAMP_NO
		FROM CEO_QNA
		WHERE ANSWER_FL = 'Y'
		ORDER BY 'QNA_NO' ASC
	</select>
	
	<update id="insertCeoAnswer">
		UPDATE CEO_QNA SET
		CEO_QNA_ANSWER = #{ceoQnaAnswer},
		ANSWER_FL = 'Y'
		WHERE CEO_QNA_NO = #{ceoQnaNo}
	</update>
 
 	<update id="updateCeoAnswer">
		UPDATE CEO_QNA SET
		CEO_QNA_ANSWER = #{ceoQnaAnswer}
		WHERE CEO_QNA_NO = #{ceoQnaNo}
	</update>
	
	
</mapper>