<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.member.model.dao.EmailMapper">

	<update id="updateAuthkey">
		UPDATE "AUTH_KEY" SET
		CODE = #{authKey},
		CREATE_TIME = sysdate
		WHERE EMAIL = #{email}
	</update>
	
	
	<insert id="insertAuthkey">
		INSERT INTO "AUTH_KEY" VALUES(SEQ_AUTH_KEY_NO.NEXTVAL, #{authKey}, #{email}, DEFAULT)
	</insert>
	
	<select id="checkAuthKey" resultType="_int">
		SELECT COUNT(*)
		FROM "AUTH_KEY"
		WHERE CODE = #{inputKey}
		AND EMAIL = #{email}
	</select>
	
	
</mapper>