<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camplex.project.item.mappers.ItemMapper">


	<resultMap type="Item" id="item_rm">
	  	
	  	<id property="itemNo" column="ITEM_NO"/>
	  	  	
		<result property="itemType" column="ITEM_TYPE"/>
		<result property="inStoreCount" column="IN_STORE_COUNT"/>
		<result property="loanCount" column="LOAN_COUNT"/>
		<result property="itemPrice" column="ITEM_PRICE"/>
		<result property="itemName" column="ITEM_NAME"/>
		<result property="itemDescription" column="ITEM_DESCRIPTION"/>
		<result property="itemStatus" column="ITEM_STATUS"/>
		<result property="discountRate" column="DISCOUNT_RATE"/>
	    
	    
	    <collection property="imageList"
					select="selectImageList"
					column="ITEM_NO"
					javaType="java.util.ArrayList"
					ofType="ItemImg"
		 />
	    
	</resultMap>


	<resultMap type="FindCartItem" id="findCart_rm">
	  	
	  	<id property="itemNo" column="ITEM_NO"/>
	  	  	
		<result property="itemType" column="ITEM_TYPE"/>
		<result property="inStoreCount" column="IN_STORE_COUNT"/>
		<result property="loanCount" column="LOAN_COUNT"/>
		<result property="itemPrice" column="ITEM_PRICE"/>
		<result property="itemName" column="ITEM_NAME"/>
		<result property="itemDescription" column="ITEM_DESCRIPTION"/>
		<result property="itemStatus" column="ITEM_STATUS"/>
		<result property="discountRate" column="DISCOUNT_RATE"/>
	    <result property="reservationNo" column="RESERVATION_NO"/>
	    <result property="cartItemNo" column="CART_ITEM_NO"/>
	    <result property="itemQuantity" column="ITEM_QUANTITY"/>
	    <collection property="imageList"
					select="selectImageList"
					column="ITEM_NO"
					javaType="java.util.ArrayList"
					ofType="ItemImg"
		 />
	    
	</resultMap>
	
	<resultMap id="rsvInfo_rm" type="MembersReservationDate">
		<id property="reservationNo" column="RESERVATION_NO"/>
		<result property="campName" column="CAMP_NAME"/>
		<result property="campEntDate" column="CAMP_ENTDATE"/>
		<result property="campOutDate" column="CAMP_OUTDATE"/>
	</resultMap>
	
	
	
	<resultMap type="ItemImg" id="itemImg_rm">
		<id property="itemImgNo" column="ITEM_IMG_NO"/>
		
		<result property="itemNo" column="ITEM_NO" />
		<result property="itemImgPath" column="ITEM_IMG_PATH" />
		<result property="itemImgRename" column="ITEM_IMG_RENAME" />
		<result property="itemImgOriginal" column="ITEM_IMG_ORIGINAL"/>
		<result property="itemImgOrder" column="ITEM_IMG_ORDER" />
	
	</resultMap>
	
	<select id="selectImageList" resultMap="itemImg_rm">
		SELECT ITEM_IMG_NO, ITEM_NO, ITEM_IMG_PATH, ITEM_IMG_RENAME
		FROM ITEM_IMG
	 	WHERE ITEM_NO = #{itemNo}
	</select>
	
	
  	
		<!-- 상품 상세조회 -->	
		<select id="selectDetail" resultMap="item_rm">
		    SELECT ITEM_NO, ITEM_TYPE, ITEM_PRICE, ITEM_NAME, ITEM_DESCRIPTION, 
		    ITEM_STATUS, DISCOUNT_RATE,  (SELECT ITEM_IMG_PATH || ITEM_IMG_RENAME FROM ITEM_IMG WHERE ITEM_IMG_ORDER=0 AND ITEM_NO = A.ITEM_NO) THUMBNAIL
		    FROM "ITEM" A
		    WHERE ITEM_NO = #{itemNo}
		</select>

		
		<!-- 상품 상세조회 결제용 -->	
		<select id="payNow" resultMap="item_rm">
			SELECT ITEM_NO, ITEM_TYPE, ITEM_PRICE, ITEM_NAME, ITEM_DESCRIPTION, 
			ITEM_STATUS, DISCOUNT_RATE, (SELECT ITEM_IMG_PATH || ITEM_IMG_RENAME FROM ITEM_IMG WHERE ITEM_IMG_ORDER=0 AND ITEM_NO = A.ITEM_NO) THUMBNAIL
			FROM "ITEM" A
			JOIN "ITEM_IMG" USING(ITEM_NO)
			WHERE ITEM_NO = #{itemNo}
		</select>  
		 
		
		<!-- 멤버 예약목록 조회(캠핑장명, 날짜만) -->
		<select id="membersRsvInfo" resultMap="rsvInfo_rm">
			SELECT r.RESERVATION_NO, cs.CAMP_NAME, r.CAMP_ENTDATE, r.CAMP_OUTDATE
	        FROM RESERVATIONS r
	        JOIN CAMPING_SITE cs ON r.CAMP_NO = cs.CAMP_NO
	        WHERE r.MEMBER_NO = #{memberNo}
	        <![CDATA[
	        AND r.CAMP_ENTDATE > CURRENT_DATE
	        ]]>
		</select>
		
		<!-- 멤버 예약목록 조회(결제용) -->
		<select id="membersRsvInfo2" resultMap="rsvInfo_rm">
			SELECT r.RESERVATION_NO, cs.CAMP_NAME, r.CAMP_ENTDATE, r.CAMP_OUTDATE
	        FROM RESERVATIONS r
	        JOIN CAMPING_SITE cs ON r.CAMP_NO = cs.CAMP_NO
	        WHERE r.RESERVATION_NO = #{reservationNo}
		</select>
	
		<!-- 위시리스트에 들어갈 아이템 목록정보 -->
		<select id="selectItemWish" resultMap="item_rm">
			SELECT 
			    i.ITEM_NO, 
			    i.ITEM_TYPE, 
			    i.ITEM_PRICE, 
			    i.ITEM_NAME, 
			    i.ITEM_DESCRIPTION, 
			    i.ITEM_STATUS, 
			    i.DISCOUNT_RATE, 
			    (SELECT ITEM_IMG_PATH || ITEM_IMG_RENAME FROM ITEM_IMG WHERE ITEM_IMG_ORDER=0 AND ITEM_NO = i.ITEM_NO) THUMBNAIL
			FROM 
			    "ITEM" i
			JOIN 
			    WISH_LIST w
			    ON i.ITEM_NO = w.ITEM_NO
			WHERE 
			    w.MEMBER_NO = #{memberNo}
			ORDER BY 
			    w.WISHLIST_NO
		</select>
	
		<select id="membersCartItem" resultMap="findCart_rm"> 
			SELECT i.ITEM_NO, 
			    i.ITEM_TYPE, 
			    i.ITEM_PRICE, 
			    i.ITEM_NAME, 
			    i.ITEM_DESCRIPTION, 
			    i.ITEM_STATUS, 
			    i.DISCOUNT_RATE, 
			    ci.RESERVATION_NO,
			    ci.CART_ITEM_NO,
			    ci.ITEM_QUANTITY,
			    (SELECT ITEM_IMG_PATH || ITEM_IMG_RENAME FROM ITEM_IMG WHERE ITEM_IMG_ORDER=0 AND ITEM_NO = i.ITEM_NO) THUMBNAIL 
			FROM "ITEM" i
			INNER JOIN CART_ITEM ci ON i.ITEM_NO = ci.ITEM_NO
			INNER JOIN CART c ON ci.CART_NO = c.CART_NO
			WHERE c.MEMBER_NO = #{memberNo}
		</select>

	  	<select id="inCartWishlist" resultMap="item_rm">
			SELECT i.ITEM_NO, i.ITEM_TYPE, i.ITEM_PRICE, i.ITEM_NAME, i.ITEM_DESCRIPTION, 
			i.ITEM_STATUS, i.DISCOUNT_RATE, (SELECT ITEM_IMG_PATH || ITEM_IMG_RENAME FROM ITEM_IMG WHERE ITEM_IMG_ORDER=0 AND ITEM_NO = i.ITEM_NO) THUMBNAIL
			FROM "ITEM" i
			JOIN "WISH_LIST" w ON i.ITEM_NO = w.ITEM_NO
			WHERE w.MEMBER_NO= #{memberNo}
		</select>
		
		
		
</mapper>
