<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camplex.project.paysys.mappers.PaysysMapper">

	<resultMap type="Cart" id="cart_rm">
		<id property="cartNo" column="CART_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		
	</resultMap>
	
	<resultMap type="CartItem" id="cartItem_rm">
		<id property="cartItemNo" column="CART_ITEM_NO"/>
		<result property="cartNo" column="CART_NO"/>
		<result property="itemNo" column="ITEM_NO"/>
		<result property="reservationNo" column="RESERVATION_NO"/>
		<result property="itemQuantity" column="ITEM_QUANTITY_NO"/>
	</resultMap>
	
		<!-- 카트에 렌트아이템 추가-->
	<insert id="insertCart">
		INSERT INTO "CART_ITEM"
		VALUES (SEQ_CART_ITEM_NO.NEXTVAL, #{cartNo}, #{itemNo}, #{reservationNo}, #{itemQuantity})
	</insert>
	
	<!-- 카트없는회원 만들기 -->
	<insert id="createCart">
		INSERT INTO "CART"
		VALUES (SEQ_CART_NO.NEXTVAL, #{memberNo})
	</insert>
	
	<select id="searchCartItem" resultType="_int">
		SELECT COUNT(*) FROM CART_ITEM
		WHERE CART_NO = #{cartNo}
		AND ITEM_NO = #{itemNo}
		AND RESERVATION_NO = #{reservationNo}
	</select>
	  	
	<!-- 회원의 카트 넘버 조회-->  	
	<select id="searchMembersCartNo" resultType="java.lang.Integer">
		SELECT CART_NO
		FROM CART
		WHERE MEMBER_NO = #{memberNo}
	</select>  	
	
	<update id="quantityUpdateCart">
		UPDATE CART_ITEM
		SET ITEM_QUANTITY = #{itemQuantity}
		WHERE CART_ITEM_NO = #{cartItemNo}
	</update>
	
	
	<update id="moveItemSite">
		UPDATE CART_ITEM
		SET RESERVATION_NO = #{reservationNo}
		WHERE CART_ITEM_NO = #{cartItemNo}
	</update>


	<select id="searchResult">
		SELECT COUNT (*)
		FROM CART_ITEM
		WHERE CART_ITEM_NO = #{cartItemNo}
		AND RESERVATION_NO = #{reservationNo}
		AND ITEM_NO = #{itemNo}
	</select>

	<delete id="deleteItemcart">
	    DELETE FROM CART_ITEM
	    WHERE ITEM_NO = #{itemNo}
	    AND RESERVATION_NO = #{reservationNo}
	    AND CART_ITEM_NO = #{cartItemNo}
	</delete>
	
	<!-- 캠핑 결제 내역 저장 (무통장) -->
	<insert id="insertPayCamp">
		INSERT INTO "PAYMENT"
		VALUES (SEQ_PAY_NO.NEXTVAL, #{memberNo}, #{campNo}, #{campDeNo},
				NULL, #{price}, NULL, #{price}, #{payType}, DEFAULT,
				#{entDate}, #{outDate}, DEFAULT)
	</insert>
	
	<!-- 캠핑 결제 내역 저장 (카카오)-->
	<insert id="insertKakao" parameterType="InfoForReservation" useGeneratedKeys="true">
		
		<selectKey order="BEFORE" resultType="_int" keyProperty="paymentNo">
			SELECT SEQ_PAY_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO "PAYMENT"
		VALUES (#{paymentNo}, #{memberNo}, #{campNo}, #{campDeNo},
				NULL, #{price}, NULL, #{price}, '카카오페이', DEFAULT,
				#{entDate}, #{outDate}, DEFAULT)
	</insert>
	
	<!-- 캠핑 결제 내역 (카카오) 결제 완료로 변경-->
	<update id="updatePayState">
		UPDATE PAYMENT SET PAYMENT_STATUS_FL = 'Y'
		WHERE PAYMENT_NO = #{tempPaymentNo}
	</update>

	<!-- 캠핑 결제 취소시 내역 삭제(카카오)-->
	<delete id="deleteKakao">
		DELETE FROM PAYMENT
		WHERE PAYMENT_NO = #{tempPaymentNo}
	</delete>
	
	<!-- 결제 완료시 예약 테이블 저장(카카오) -->
	<insert id="insertReservation">
		INSERT INTO "RESERVATIONS"
		VALUES (SEQ_RES_NO.NEXTVAL, #{paymentNo}, #{memberNo}, #{campNo},
				#{campDeNo}, #{entDate}, #{outDate}, #{adultCount}, 
				#{kidCount}, #{demand})
	</insert>

	
	<delete id="deleteCart">
		DELETE FROM CART_ITEM
		WHERE CART_ITEM_NO= #{cartItemNo}
	</delete>
	
	
</mapper>