<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camplex.project.member.mappers.WishlistMapper">


	<resultMap type="Wishlist" id="wishlist_rm">
	  	
	  	<id property="wishlistNo" column="WISHLIST_NO"/>
	  	  	
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="campNo" column="CAMP_NO"/>
		<result property="itemNo" column="ITEM_NO"/>
	    

	</resultMap>
	
	<resultMap type="Camp" id="camp_rm">
		<id property="campNo" column="CAMP_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="campAddress" column="CAMP_ADDRESS" />
		<result property="campPhone" column="CAMP_PHONE" />
		<result property="campName" column="CAMP_NAME" />
		<result property="campOption" column="CAMP_OPTION" />
		<result property="campAroundView" column="CAMP_AROUND_VIEW" />
		<result property="campMap" column="CAMP_MAP" />
		<result property="mannerTime" column="MANNER_TIME" />
		<result property="category" column="CATEGORY" />
		<result property="campDeleteFlag" column="CAMP_DEL_FL" />
		<result property="campInfo" column="CAMP_INFO" />
		<result property="thumbnail" column="THUMBNAIL" />
		

	</resultMap>
	
	
	<!-- 위시리스트 인서트 -->	
	<insert id="wishlistInsert">		
	INSERT INTO "WISH_LIST"
	VALUES (SEQ_WISH_NO.NEXTVAL, #{memberNo}, NULL, #{itemNo})
	</insert> 
		
	<!-- 이미 있는 위시리스트인가 -->	 
	<select id="searchWishlist" resultType="_int">
		SELECT COUNT(*) FROM WISH_LIST
		WHERE MEMBER_NO = #{memberNo}
		AND ITEM_NO = #{itemNo}
	</select>
	
	<!-- 위시리스트에 들어갈 캠핑장 정보 -->
	<select id="selectCampWish" resultMap="camp_rm">

			SELECT c.*
			FROM CAMPING_SITE c
			INNER JOIN WISH_LIST w ON c.CAMP_NO = w.CAMP_NO
			WHERE w.MEMBER_NO = #{memberNo}
			ORDER BY w.WISHLIST_NO
	</select>
	
	<!-- 위시리스트에서 캠핑장 삭제-->
	<delete id="deleteCampWish">
    DELETE FROM WISH_LIST
    WHERE CAMP_NO = #{campNo}
    AND MEMBER_NO = #{memberNo}
	</delete>

	<!-- 위시리스트에서 아이템 삭제-->
	<delete id="deleteItemWish">
    DELETE FROM WISH_LIST
    WHERE ITEM_NO = #{itemNo}
    AND MEMBER_NO = #{memberNo}
	</delete>
	
	  	
</mapper>
