<div id="modalContainerPopup" class="hidden">

	<div id="mainContainer">

		<h2>취소 및 환불 수수료 안내</h2>

		<table class="cancelTable">
			<tbody>

				<tr>
					<th>취소 기준</th>
					<th>취소 수수료율</th>
					<th>환불률</th>
				</tr>
				
				<tr>
					<td>이용일 8일전</td>
					<td>수수료 없음</td>
					<td>전액 환불</td>
				</tr>
				
				<tr>
					<td>이용일 7일전</td>
					<td>수수료 없음</td>
					<td>전액 환불</td>
				</tr>
				
				<tr>
					<td>이용일 6일전</td>
					<td>30%</td>
					<td>70%</td>
				</tr>
				
				<tr>
					<td>이용일 5일전</td>
					<td>40%</td>
					<td>60%</td>
				</tr>
				
				<tr>
					<td>이용일 4일전</td>
					<td>50%</td>
					<td>50%</td>
				</tr>
				
				<tr>
					<td>이용일 3일전</td>
					<td>60%</td>
					<td>40%</td>
				</tr>
				
				<tr>
					<td>이용일 2일전</td>
					<td>100%</td>
					<td>환불 없음</td>
				</tr>
				<tr>
					<td>이용일 1일전</td>
				<td>100%</td>
				<td>환불 없음</td>
			</tr>
			<tr>
				<td>이용일 당일</td>
				<td>100%</td>
				<td>환불 없음</td>
			</tr>
			
		</tbody>
			
		</table>
		
		<pre>
			
			[ 취소수수료 규정 안내 ]
			* 예약취소는 "MYPAGE" 에서 가능합니다.
			* 취소수수료는 예약 시점과는 무관하게 '입실일로부터 남은 날짜' 기준으로 부과되오니 신중히 예약 바랍니다.
			* 예약 이용일 변경은 불가합니다. (취소 수수료 확인 후) 기존 예약 건 취소 및 재예약하셔야 합니다.
			* 중복예약 취소, 업체 요청에 의한 취소, 법령에 의한 취소 등은 고객센터(070-0000-0000) 또는 해당 숙소를 통하여 도움을 받으십시오.
			* 미성년자는 예약이 불가하며, 보호자 동반 없이 이용 불가합니다.
			
			[ 기상 상황 및 코로나 등 전염병 관련 예약 취소 안내 ]
			* 우천으로 인한 환불 및 날짜 변경 불가합니다.
			* 천재지변 또는 기상악화 시, 현장(캠핑장/펜션)상황과 정책에 따라 당일 오전 현장 판단하에 연기 또는 취소 결정됩니다.
			* 코로나 등 전염병 관련 예약 취소는 병원/행정기관 등 유관기관에서 발급한 '예약자 본인 확인 가능한 증빙 서류 제출 시' 업체와 협의 후 가능합니다.
			* 사전 협의 없이 예약자가 직접 예약 취소 시 환불 규정에 따라 환불되며, 결제업체(결제수단)의 정책에 따라 취소수수료 환불이 불가할 수 있습니다.
			
			[ 환불 관련 안내 ]
			* 취소 시 결제금액에서 취소수수료를 제외한 금액이 환불되며, 취소수수료는 총 결제금액 기준으로 책정됩니다.
			* 취소 신청 후 간편결제 사업자 또는 은행/신용카드사에 따라 환불 절차에 일정 시간이 소요됩니다.
			* 영업일 기준(토/일/공휴일 제외)으로 실시간 계좌이체 2~3일, 신용카드 3~5일 소요됩니다.
			* 환불과 관련된 자세한 사항은 고객센터(070-0000-0000)로 문의 부탁드립니다.
				
			</pre>

	</div>
</div>