<div id="collectInfoModalContainer" class="hidden">

	<div id="collectInfoModal">
		
		<h2>개인 정보 수집 및 이용 동의 안내</h2>

		<pre>
			
	분류 : 필수정보
	수집 및 이용동의목적 : 계약의 이행 및 서비스 제공, 예약, 구매, 관심상품 내역, 결제대금의 청구, 상담, 
							불만, 민원처리, 고지/안내사항 전달, 상품/서비스 이용실적 정보 통계 분석, 상품/서비스 서비스 개선 및 추천, 
							불법 · 부정이용방지, 개인정보 유효기간제 준수
	항목 : 예약내역(예약일시, 결제금액, 업체명), 디바이스 ID, 휴대폰 번호, 서비스이용기록, IP 주소, 접속로그, Cookie, 
			광고식별자, 단말기 OS와 버전, 단말기 모델명, 브라우저 버전, 예약자 및 구매자의 이름, 휴대폰 번호, (필요한 서비스의 경우)생년월일, 
			(예약자와 방문자가 다른 경우) 방문자 및 탑승자의 이름, 휴대폰 번호, (필요한 서비스의 경우)생년월일, 
			(예약확인서 발급 시) 예약자의 이메일 주소, (현금 환불 요청 시) 계좌번호 및 예금주명
	보유 및 이용기간 : 예약서비스 제공 완료 후 6개월 후 삭제
	
	[회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 아래와 같습니다.]
	
	- 계약 또는 청약철회 등에 관한 기록
	보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률
	보존 기간 : 5년

	- 대금결제 및 재화 등의 공급에 관한 기록
	보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률
	보존 기간 : 5년

	- 전자금융 거래에 관한 기록
	보존 이유 : 전자금융거래법
	보존 기간 : 5년

	- 소비자의 불만 또는 분쟁처리에 관한 기록
	보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률
	보존 기간 : 3년

	- 웹사이트 방문기록
	보존 이유 : 통신비밀보호법
	보존 기간 : 3개월
				
			</pre>

	</div>
</div>