<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니(렌탈)</title>
    <link rel="stylesheet" th:href="@{/css/paysys/rentCart.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap}" rel="stylesheet">
</head>
<body>

    <th:block th:replace="~{common/headerForContent}"></th:block>
    
    <div class="mainContainer">
        <!--레프트빈공간-->
        <div class="emptyContainer"></div>
        
        <!--메인공간-->
        <div class="midContainer">
		
            
            <h2 class="heading">SHOPPING LIST</h2>
            <form th:action="@{/paysys/payAll}" method="post" class="">
				<div th:each="rsvInfo, rsvInfoIter : ${rsvInfo}" th:id="rsvInfo+${rsvInfoIter.index}">
	          		<p th:text="${rsvInfo.campName} + ' (' + ${rsvInfo.campEntDate} + ' ~ ' + ${rsvInfo.campOutDate} + ')'"></p>
	                <table class="shoppingCartTB">
	                    <tr>
	                        <!-- 전체선택체크박스 js구현하기-->
	                        <!-- th 위 진한선 아래 연한선주고 추가되는 상품의 밑 마다 선주기-->
	                        <th><input type="checkbox" th:id="'selectAllCheckbox' + ${rsvInfoIter.index}" class="selectAllCheckbox"></th>
	                        <th><input type="hidden" th:id="'currentReservationNo' + ${rsvInfoIter.index}" th:value="${rsvInfo.reservationNo}"></th>
	                        <th>상품명</th>
	                        <th>캠핑장 선택</th>
	                        <th>수량</th>
	                        <th>금액</th>
	                        <th>취소</th>
	                    </tr>
	                
	                    <!-- tr 추가되는식으로 상품추가-->
	                    <!-- 없으면 없다고 표시하자!!-->
	                    <th:block th:each = "cartItem, iterStat : ${cartItem}" >
			                    
			                    <tr th:if="${cartItem.reservationNo == rsvInfo.reservationNo}" th:id="cartItemTr+${rsvInfoIter.index}">
			                        <!-- 개별선택체크박스-->
			                        <td>
										<input type="checkbox" class="individualCheckbox" name="checkCartItemNo" value="${cartItem.cartItemNo}">
										<input type="hidden" th:name="'cartItemNo'+${iterStat.index}" th:id="'cartItemNo'+${iterStat.index}" th:value="${cartItem.cartItemNo}">
										<input type="hidden" th:id="'itemPrice'+${iterStat.index}" th:value="${cartItem.itemPrice}">
										<input type="hidden" th:id="'itemNo'+${iterStat.index}" th:value="${cartItem.itemNo}">
										<input type="hidden" class="index-input" th:id="'index'+${iterStat.index}" th:value="${iterStat.index}">	
									</td>
			                        <td><img th:src="${cartItem.thumbnail}" th:onclick-"|location.href = '@{/item/itemDetail/{itemNo}(itemNo = ${cartItem.itemNo})}'|"></td>
			                        <td>[[${cartItem.itemName}]]</td>
			                        <td>
			                            <select th:name="'reservationNo'+${iterStat.index}" id="" class="campSelect">
			                                <option value="default" class="">제품을 이동시킬 캠핑장을 선택해 주세요.</option>
			                                <th:block th:each="rsvInfo2 : ${rsvInfo2}">
												<option th:unless="${rsvInfo.reservationNo == rsvInfo2.reservationNo}" th:value="${rsvInfo2.reservationNo}" th:text="${rsvInfo2.campName} + ' (' + ${rsvInfo2.campEntDate} + ' ~ ' + ${rsvInfo2.campOutDate} + ')'"></option>
											</th:block>
			                            </select>
			                            <button type="button" class="grayBtn" th:id="'moveBtn'+${iterStat.index}"  th:onclick="'moveItem(this, ' + ${iterStat.index} + ')'" th:text="MOVE">MOVE</button>
			                        </td>
			                        <td>
										<button type="button" class="qBtn" th:id="'minusBtn'+${iterStat.index}">-</button>
			                        	&nbsp;&nbsp;<span th:id="'quantityDisplay'+${iterStat.index}" th:text="${cartItem.itemQuantity}">수량</span>&nbsp;&nbsp;
			                        	<button type="button" class="qBtn" th:id="'plusBtn'+${iterStat.index}">+</butto>
			                        </td>
			                        <td th:class="paymentTextContainer" th:id="totalPriceContainer+${iterStat.index}"><p></p></td>
			                        <td>
			                            <button type="button" class="grayBtn" th:id="'wishBtn'+${iterStat.index}" th:onclick="'moveWish(this, ' + ${rsvInfoIter.index} + ', ' + ${iterStat.index} + ')'">WISH LIST</button>
			                            <div>&nbsp;</div>
			                            <button type="button" class="grayBtn" th:id="'deleteBtn'+${iterStat.index}" th:onclick="'deleteCart(this, ' + ${rsvInfoIter.index} + ', ' + ${iterStat.index} + ')'">DELETE</button>
			                        </td>
			                    </tr>
			            
                    	</th:block>
                    	<tr>
						    <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
                    	</tr>
                    	
                </table>
            </div>
                
                
                
                
                <div class="orderBtncontainer">
                    <div class="orderEmpty"></div>
                    <div class="orderBtnSpace">
                        <button type="submit" class="blackBtn">전체상품주문</button>
                        <button href="" class="blackBtn">선택상품주문</button>
                        <a th:href="@{/item2/search}" class="whiteBtn wBA">계속 쇼핑하기</a>
                        <button type="button" th:onclick="deleteAllCart.call(this)" class="whiteBtn">장바구니 비우기</button>
                    </div>
                <div class="orderEmpty"></div>
            </div>
                
                
        </form>
            
            
            <h2 class="heading">WISH LIST</h2>

            <table class="wishListTB">
                <tr>
                    <th></th>
                    <th>번호</th>
                    <th>사진</th>
                    <th>상품명</th>
                    <th>캠핑장 선택</th>
                    <th>재고</th>
                    <th>금액</th>
                    <th>취소</th>
                </tr>
                <!-- 위와 같은 참고사항 지킬것-->
                <tr>
                    <td></td>
                    <td>1</td>
                    <td><img src="/images/itemImg/0340020000042.jpg"></td>
                    <td>밀크 소파 : 블랙</td>
                    <td>
                        <select name="" id="" class="campSelect2">
                            <option value="default" class="">캠핑장을 선택해 주세요.</option>
                            <option value="" class="">다른 캠핑장(25-01-01 ~ 25-01-02)</option>
                        </select>
                        <button href="#" class="grayBtn">CART</button>
                    </td>
                    <td>있음</td>
                    <td>100원</td>
                    <td><button href="#" class = "grayBtn">DELETE</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td>2</td>
                    <td><img src="/images/itemImg/0340020000042.jpg"></td>
                    <td>밀크 소파 : 블랙</td>
                    <td>
                        <select name="1" id="2" class="campSelect2">
                            <option value="default" class="">캠핑장을 선택해 주세요.</option>
                            <option value="" class="">다른 캠핑장(25-01-01 ~ 25-01-02)</option>
                        </select>
                        <button href="#" class="grayBtn">CART</button>
                    </td>
                    <td>있음</td>
                    <td>100원</td>
                    <td><button href="#" class ="grayBtn">DELETE</button></td>
                </tr>

            </table>
            <div class="buttonList">
                <a th:href="@{/member/wishlist}" class="Btn">CAMP WISH LIST</a>
                
            </div>
        </div>
        
        <!--라이트빈공간-->
        <div class="emptyContainer"></div>
    </div>
    
    <th:block th:replace="~{common/footer}"></th:block>
    
    
    <script th:src="@{/js/paysys/rentCart.js}"></script>
</body>
</html>