@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: 1% 500%;
    unicode-range: U+AC00-D7A3;
}

*{
    font-family: 'HakgyoansimSantteutdotumL', 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
}

#leftBlank, #rightBlank{
    flex-basis: 20%;
}

#mainContent{
    flex-basis: 60%;
}


/* ---------------------------- topBar ------------------------------------------------------ */

.topBar{
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    border-radius: 0 0 10px 10px;

    transition-duration: 0.3s;

    position: sticky;
    top: 0;
    background-color: #fff;
    opacity: 0.8;
}

.topBar:hover{
    background-color: rgba(204, 213, 174, 0.5);
}

.topMenu{
    width: 100%;

    flex-basis: 5%;

    display: flex;
    justify-content: space-between;
}

.topMenu a{
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.7rem;
    opacity: 0.5;    
}

.mainTitle{
    flex-basis: 50%;
    align-self: center;
    font-size: 3rem;
    font-weight: 900;
    opacity: 0.5; 

    margin: 20px 0;

    height: 60px;
    line-height: 60px;
    color: #333;
    letter-spacing: 5px;
}

.bottomMenu{
    flex-basis: 45%;
    display: flex;
    align-self: center;
}

.bottomMenu a {
    color: #000;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 600;
    opacity: 0.5;
}

/* ---------------------------------------------------------------------- */


.header{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.headerTitle{
    font-size: 1.5rem;
    color: #D4A373;
    font-weight: lighter;
}

.headerMenu{
    display: flex;
    align-items: flex-end;
}


.mainPicArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 40px;
}

.campingTitle{
    display: flex;
    margin-bottom: 20px;
}

.campingTitleName{
    font-size: 2rem;
}

.campSiteName{
    font-size: 1rem;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.pictureContainer{
    display: flex;
    align-items: center;
}

.thumbsnail{
    width: 40%;
    text-align: center;
}

.thumbsnailContainer{
    width: 100%;
    height: 300px;
    margin: 5px;
    border-radius: 7px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbsnail img {
    height: 100%;
}

.campingInfoContainer{
    width: 60%;
    padding: 0 20px 20px 20px;
    margin-left: 30px;

    display: flex;
    flex-direction: column;
}

.campingInfoContainer > p{
    font-size: 1.5rem;
}

.campingInfoContainer > hr{
    margin: 20px 0;
}

.campingInfo{
    display: flex;
}

.campingInfo > div{
    margin: 0 20px;
}

.campingInfoCategory > p, .campingInfoDetail > p{
    margin: 25px 0;
    font-size: 1.1rem;
}

#price{
    color: #D4A373;
}

/* ----------------------------------------------------------- */


.customerTitle{
    display: flex;
    width: 60%;

    display: flex;
    flex-direction: column;
}

.customerTitle > p{
    font-size: 1.5rem;
}

.customerArea > hr{
    margin: 20px 0;
    width: 45rem;
}

.customerInfoContainer{
    display: flex;
}

.customerInfoCategory{
    display: flex;
    flex-direction: column;

    margin: 0 20px;
}

.customerInfoCategory > div{
    display: flex;
}

.mandatory{
    color: #ff0000;
}

.customerInfoCategory p {
    margin: 13px 0;
    font-size: 1.3rem;
}

.customerInfoInput{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.customerInfoInput > input, .customerInfoInput > textarea{
    width: 25rem;
    margin: 12px 0;
    border: #adadad solid 1px;
    border-radius: 5px;
}

.customerInfoInput > input{
    height: 1.8rem;
}

.customerInfoInput > div{
    display: flex;
    align-items: flex-end;
    margin: 14px 0;
}

.customerInfoInput > div > img{
    margin: 0 3px;
}

.adultIcon, .calIcon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.kidIcon{
    width: 15px;
    height: 15px;
}

/* ------------------------------------------------------------------------------ */

.btnArea{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin: 50px 0;
    margin-bottom: 200px;
}

.btn{
    background-color: transparent;
    border: none;
    margin: 0 30px;
    font-size: 1.5rem;
    cursor: pointer;

}


ul { list-style:none; cursor:pointer }
li { 
  float:left; 
  margin-right:10px;
  transition:all .3s ease 
}
li:hover {transition:all .3s ease }
li > span { position:relative }

/*밑줄넣기 부분*/
li > span::after {
  content: '';
  width: 0%;
  left: 50%;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid; 
  transition:all .3s ease;
}
li:hover > span::after {
  content: '';
  width: 100%;
  left: 0px;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid; 
  transition:all .3s ease;
}



/* ---------------------------------- footer --------------------------------- */
.bottomBar { 
    margin: 25px 0 25px 25px ;
    font-family: 'HakgyoansimSantteutdotumL';
    font-weight: 900;
    line-height: 30px;
    
}

.footerTitle {
    flex-basis: 50%;
    align-self: center;
    font-size: 2rem;
    font-weight: 1000;

    height: 60px;
    line-height: 60px;
    color: #333;
    letter-spacing: 3px;
}

.footerMenu {
    display: flex;
    flex-basis: 50%;
    align-self: center;
    font-size: 1rem;
    font-weight: 900;

    color: #333;
    letter-spacing: 1px;
}

.footerMenu a {
    text-decoration: none;
    color: #000;
    font-weight: 100;
}

.menuDiv {
    margin-left: 20px;
    margin-right: 20px;
}

.footerContent {
    width: 100%;
    letter-spacing: 1px;
    font-weight: 100;
}