@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: 1% 500%;
    unicode-range: U+AC00-D7A3;
}

#modalContainer{
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	width: 400px;
	height: 155px;
	border-radius: 10px;
}

#mainContainer{
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	padding-right: 30px;
}

hr{
    width: 140px;
    margin-left: 20px;
}

/* ----------------------------------------------- */

.title{
    margin: 10px;
    margin-left: 20px;
}

.chooseNumber{
    display: flex;
    flex-direction: column;
}

.chooseNumber > div {
    display: flex;
    margin: 10px 10px;
}

.chooseNumber > div > p{
    margin: 6px 20px;
}

.number{
    width: 130px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px #b4b4b4 solid;
}

.minus, .plus{
    width: 70px;
    border: 1px #b4b4b4 solid;
    cursor: pointer;
}

.minus{
    border-radius: 10px 0 0 10px;
}

.plus{
    border-radius: 0 10px 10px 0;
}

#modalContainerPopup {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}


#modalContainerPopup.hidden {
	display: none;
}

#confirmNumber{
	width: 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1.1rem;
	padding: 8px;
	display: flex;
	flex-direction: row-reverse;	
}
