/********** 전체 화면 ******************************************************/
* {
  margin: 0;
  padding: 0;
  font-family: Gowun Dodum;

  box-sizing: border-box;
}

#ceoPicModal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#ceoPicModal.hidden {
	display: none;
}

#ceoPicModalImgWrapper{
  display: flex;
	justify-content: center;
	align-items: center;
}

#ceoPicModal img {
  height: 600px;
  object-fit: contain;
}
