*{
    font-family: 'HakgyoansimSantteutdotumL', 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 1px solid black; 
}

@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: 1% 500%;
    unicode-range: U+AC00-D7A3;
}


/* 모달 div */
#modalContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1050;
}

/*#modalContainer.hidden {
	display: none;
}*/

/* 모달 메인 */
.modalMain {
	width: 82rem;
	height: 42rem;
	background-color: white;
	border-radius: 10px;
	display: flex;
}

/* 모달 왼쪽 Sec */
.modalLeftSec {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.modalLeftSecCenterSec {
	width: 38rem;
	height: 35rem;
	display: flex;
	justify-content: center;
}

.campingSiteThumbnailDiv {
	width: 35rem;
	height: 27rem;
	background-color: #EAEAEA;
	border-radius: 10px;
}

.campingSiteThumbnailDiv:hover {
	background-color: #909090;
}

.campingSiteThumbnailInput {
	display: none;
}

.campingSiteThumbnailDiv > label {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.previewcampingSiteThumbnail {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
}


/* 모달 오른쪽 Sec */
.modalRightSec {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.modalRightTopSec {
	height: 56%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-left: 3.5rem;
}

.modalDeleteBtnSec {
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: end;
	padding: 0.5rem;
}

.modalDeleteBtn {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

.modalLocationInfoTitleSec {
	width: 100%;
	height: 4rem;
	display: flex;
}

.modalLocationInfoTitleDiv {
	font-size: 1.4rem;
	font-weight: bold;
	width: 25rem;
	height: 3.2rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #909090;
}

.modalInputInfoSec {
	width: 100%;
	height: 4rem;
	display: flex;
}

.modalInputInfoNameSec {
	width: 9rem;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 1.4rem;
}

.modalInputSec {
	width: 25rem;
	height: 100%;
	display: flex;
	align-items: center;
}

.modalInput {
	height: 3rem;
	width: 15rem;
	border-radius: 10px;
	outline: none;
	border: 1px solid #909090;
	font-size: 1.2rem;
	padding: 0.5rem;
}

.capacityInputSec {
	width: 11rem;
	height: 100%;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
}

.capacityInput {
	height: 2rem;
	width: 3rem;
	font-size: 1.2rem;
	border-radius: 10px;
	text-align: center;
	border: 1px solid #909090;
	outline: none;
}

.maxCapacityInputSec {
	width: 13rem;
	height: 100%;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
}

.wonImg {
	width: 2.5rem;
	height: 2.5rem;
	margin-left: 0.7rem;
}

.modalRightBottomSec {
	width: 100%;
	height: 15rem;
	display: flex;
	flex-direction: column;
}

.moreImgSec {
	height: 5rem;
	width: 100%;
}









