* {
    margin: 0;
    /* border: 1px solid black; */
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: 1% 500%;
    unicode-range: U+AC00-D7A3;
}

/* 게시판 상단 메뉴 */
.boardTypeList {
	display: flex;
	font-family: 'HakgyoansimSantteutdotumL';
    list-style: none;
    font-size: 20px;
    margin-left: 10rem;
}

.boardTypeList > li > a {
	text-decoration: none;
	color: black;
	margin-top: 3.8rem;
}

.boardTypeList p {
    font-size: 17px;
    font-weight: 600;
    margin-top: 4rem;
    margin-right: 5rem;
    margin-left: 5rem;
}


#boardSearch {
    margin-top: 120px;
    display: flex;
    justify-content: end;
}

.boardHead {
	display: flex;
	margin-top: 7rem;
}

#boardNo {
	font-size: 20px;
	margin-left: 2rem;
	margin-top: 1rem;
}

#boardNoWrite {
	font-size: 19px;
	margin-top: 1rem;
}

#boardTypeName {
	margin-left: 10rem;
    font-family: 'HakgyoansimSantteutdotumL';
    font-size: 30px;
    color: black;
}

/* 게시판 세부 내용 */

.boardDetail {
    font-family: 'HakgyoansimSantteutdotumL';
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.boardDeLeft {
    margin-top: 30px;
    margin-left: 2rem;
    /* border: 1px solid rgb(161, 161, 161); */
    border-radius: 20px;
    font-size: 22px;
    width: 5rem;
    height: 2rem;
    text-align: center;
}

.boardDeTitle {
    margin-left: -10rem;
    font-size: 25px;
	height: 100%;
}

.boardImg {
	display: flex;
	margin-top: -2rem;
	width: 70rem;
}

.boardDeRight {
    display: flex;
    flex-direction: column;
    margin-left: -20rem;
}

.boardDeRight > img {
	width: 10rem;
	height: 10rem;
}

#readCount {
	margin-left: 2rem;
	margin-top: 2rem;
}

#boardLike {
	margin-top: 2rem;
}

#createDate {
    margin-top: 30px;
    font-size: 22px;
}

.boardContent {
    width: 80%;
    font-size: 22px;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#imgDown {
	font-size: 16px;
	height: 1.3rem;
	text-decoration: none;
	color: rgb(0, 128, 0);
}

img {
	width: 13rem;
	height: 13rem;
	border-radius: 20px;
	overflow: hidden;
}

.img-box {
	display: flex;
	flex-wrap: wrap;
}

.img-box > div {
	margin-top: 3rem;
	margin-left: 2rem;
}


.thumbnail{
	display: flex;
	flex-wrap: wrap;
    width: 17rem;
    height: 17rem;
    margin-bottom: 2rem;
}

.thumbnail > img {
	width: 17rem;
	height: 17rem;
	border-radius: 20px;
	overflow: hidden;
}

#proImg {
	width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -0.6rem;
    margin-top: 2rem;
}

#writerNick {
	margin-left: 2rem;
	margin-top: 1rem;
	font-size: 18px;
}

/* 수정 삭제 버튼 부분 */
.btnArea {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
}

#deleteBtn {
    font-family: 'HakgyoansimSantteutdotumL';
    margin-right: 13rem;
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    border-style: none;
    font-size: 1.2rem;
}

#updateBtn {
    font-family: 'HakgyoansimSantteutdotumL';
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    border-style: none;
    font-size: 1.2rem;
    margin-right: 1rem;
}

#listBtn {
    font-family: 'HakgyoansimSantteutdotumL';
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    border-style: none;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


/* 댓글 부분 */

.comment-write-area {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.comment-write-area > textarea{
    border-radius: 10px;
	width: 60rem;
    min-height: 100px;
	resize: none;
	margin-left: 7rem;
	padding: 0.7rem;
	outline: none;
}

.comment-write-area > button{
    background-color: transparent;
    font-family: 'HakgyoansimSantteutdotumL';
    width: 5rem;
    height: 2rem;
    border-style: none;
    font-size: 1.5rem;
    margin-left: 1rem;
}

#commentList{
    margin-left: 30rem;
    margin-top: 2rem;
	padding: 0;
	list-style: none;
}

.comment-writer {
	display: flex;
	align-items: center;
}

.comment-writer > img{
	width: 40px;
    height: 40px
}

.comment-writer > span{
    font-weight: bold;
    margin-left : 10px;
}

.comment-date{
	font-size: 0.8em;
	color: #aaa;
}

#comProImg {
	width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

/* 버튼 */
.comment-btn-area {
    display: flex;
    justify-content: flex-end;
    margin-right: 28rem;
}

.comment-btn-area button{
    font-family: 'HakgyoansimSantteutdotumL';
    width: 5rem;
    height: 4rem;
    background-color: transparent;
    border-style: none;
    font-size: 1.2rem;
}

.update-textarea{
	width: 66%;
    height: 90px;
    resize: none;
    border-radius: 10px;
    outline: none;
    padding: 0.7rem;
}

.comment-row{
	padding : 15px 0;
}


.child-comment{
	padding-left : 50px;
	position: relative;
}


.child-comment:before {
	content: "\f0a4";
	font-family: "FontAwesome";
	
	position : absolute;
	left : 0;
	top : 35px;
}


/* 댓글 내용 */
.comment-content {
	white-space: pre-wrap;
	margin-top: 10px;
}

.commentInsertContent{
	width: 66%;
    height: 90px;
    resize: none;
    margin-top : 20px;
    border-radius: 10px;
    outline: none;
    padding: 0.7rem;
}

#addComment {
	font-size: 1.2rem;
}

/* 좋아요 */
.like-area{
    margin-left: 30px;
}

#boardLike{
    font-size: 1.2rem;
    color: red;
    cursor: pointer;
}

