<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품상세보기에 나중에 프로덕트명같은거정해주기</title>
    <link rel="stylesheet" th:href="@{/css/item/itemDetail.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap}" rel="stylesheet">
</head>
<body>
    <th:block th:replace="~{common/header}"></th:block>

    <div class="container">
        <div class="emptyContainer"></div>

        <div class="midContainer">
            <div class="imgContainer">
				<img th:src="@{/images/itemImg/0340020000042.jpg}">
                <img th:src="@{/images/itemImg/MILKSOFA_BL_1.jpg}" alt="">
            </div>
            <div>
                <form id="payFrm" th:action="@{/paysys/rentalPay/now}" method="post" class="productContentContainer" th:object="${item}">
                    <!-- 나중에 불러와서 넣을 값들 대체-->
                    <h2 th:text="*{itemName}">아이템 이름</h2>
                    <p class="firstP" th:text="*{itemDescription}">아이템 설명</p>
                    <table class="productContent">
                        <tr>
                            <td>기본 렌탈가격</td>
                            <td>:</td>
                            <td id="itemPrice" th:text="'₩ ' + *{itemPrice}">아이템가격</td>
                        </tr>
                        <tr>
                            <td>수&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;량</td>
                            <td>:</td>
                            <td>
								<input type="number" id="quantity" name="quantity" th:value="1" min="0" hidden>
								<span id="quantityDisplay">1</span>&nbsp;&nbsp;<button type="button" class="qBtn" id="plusBtn">+</button>&nbsp;&nbsp;<button type="button" class="qBtn" id="minusBtn">-</button>
							</td>
                        </tr>
                        <tr>
                            <td>여행지 선택</td>
                            <td>:</td>
                            <td>
                                <select name="" id="" class="selectBox" th:if="${session.loginMember}">
									<!--예약목록을가져와야하는데 캠핑장명, 날짜 알아야함 여행 출발일의 전날까지만 나오게해야함-->
									<option value="default" class="dfText">여행지를 선택 해 주세요</option>
                                    <th:block th:each="rsvInfo : ${rsvInfo}">
        								<option name="reservationNo" th:value="${rsvInfo.reservationNo}" th:text="${rsvInfo.campName} + ' (' + ${rsvInfo.campEntDate} + ' ~ ' + ${rsvInfo.campOutDate} + ')'"></option>
    								</th:block>
                                </select>

                                <select name="" id="" class="selectBox" th:unless="${session.loginMember}">
									<option value="default">로그인을 해주세요</option>
                                </select>
                            </td>
                        </tr>
                    </table>
					<input type="hidden" name="itemNo" th:value="*{itemNo}">
                    <div class="totalPaymentContainer">
                        <div class="totalTextContainer">
                            <p>TOTAL</p>
                        </div>
                        <div class="paymentTextContainer">
                            <p></p>
                        </div>
                    </div>
					
                    <button type="submit" class="rentBtn">RENT NOW</button>
                    <div class="cartWishBtnContainer">
                        <button type="submit" class="cartBtn" formaction="@{/paysys/rentCart/insert}">ADD TO CART</button>
                        <button type="submit" class="wishBtn" th:formaction="@{/member/wishlist/insert}">WISH LIST</button>
                    </div>
                    
                </form>
            </div>
        </div>

        <div class="emptyContainer"></div>

    </div>
    <th:block th:replace="~{common/footer}"></th:block>
    <script th:src="@{/js/item/itemDetail.js}"></script>

</body>
</html>