<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	  <title>캠핑장 상세</title>

    <link rel="stylesheet" th:href="@{/css/camp/CampingDetail.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap"
        rel="stylesheet">
	<link rel="icon" th:href="@{/images/iconImg/favicon.png}">
</head>

<body>

		<th:block th:replace="~{common/header}"></th:block>

	<main>

        <div id="leftBlank"></div>

        <div id="mainContent">

            <section class="header">
                <p class="headerTitle">Information</p>
                <div class="headerMenu">
                    <a>WISH LIST</a>
                    <a>1:1 문의</a>
                </div>
            </section>

            <hr>

            <section class="mainPicArea">

                <div class="campingTitle">
                    <p>Catgill 캠핑장</p>
                    <div class="starContainer">
                        <img th:src="@{/images/iconImg/star.png}" alt="">
                        <img th:src="@{/images/iconImg/star.png}" alt="">
                        <img th:src="@{/images/iconImg/star.png}" alt="">
                        <img th:src="@{/images/iconImg/star.png}" alt="">
                        <img th:src="@{/images/iconImg/star.png}" alt="">
                    </div>
                </div>

                <div class="pictureContainer">

                    <div class="thumbsnail">
                        <div class="thumbsnailContainer">
                            <img th:src="@{/images/campingImg/1.PNG}" alt="">
                        </div>
                    </div>

                    <div class="campImg">
                        <div class="campImgContainer">
                            <img th:src="@{/images/campingImg/2.PNG}" alt="">
                        </div>
                        <div class="campImgContainer">
                            <img th:src="@{/images/campingImg/3.PNG}" alt="">
                        </div>
                        <div class="campImgContainer">
                            <img th:src="@{/images/campingImg/4.PNG}" alt="">
                        </div>
                        <div class="campImgContainer">
                            <img th:src="@{/images/campingImg/5.PNG}" alt="">
                        </div>
                    </div>

                </div>

            </section>

            <section class="ceoPic">
			
                <p>CEO's PIC 
					<input type="file" id="ceoPicUploadBtn"><label for="ceoPicUploadBtn" id="ceoPicUploadBtnLabel">+</label>
				</p>
				
				

                <div class="ceoPicSlide">

                    <button type="button" class="arrow" id="left">
                        <img th:src="@{/images/iconImg/left.png}" alt="">
                    </button>

 				<div class="ceoPicture">
                        <div class="ceoPicSlideBox">
                            
                            <div class="ceoPicContent">
                                <div class="ceoPictureWrapper">
                                    <img th:src="@{/images/campingImg/7.PNG}" alt="">
                                </div>
                                <button type="button" id="ceoPicDeleteBtn">삭제</button>	
                            </div>

                            <div class="ceoPicContent">
                                <div class="ceoPictureWrapper">
                                    <img th:src="@{/images/campingImg/8.PNG}" alt="">
                                </div>
                                 <button type="button" id="ceoPicDeleteBtn">삭제</button>
                            </div>

                            <div class="ceoPicContent">
                                <div class="ceoPictureWrapper">
                                    <img th:src="@{/images/campingImg/9.PNG}" alt="">
                                </div>
                                 <button type="button" id="ceoPicDeleteBtn">삭제</button>
                            </div>

                            <div class="ceoPicContent">
                                <div class="ceoPictureWrapper">
                                    <img th:src="@{/images/campingImg/10.PNG}" alt="">
                                </div>
                                 <button type="button" id="ceoPicDeleteBtn">삭제</button>
                            </div>

                            <div class="ceoPicContent">
                                <div class="ceoPictureWrapper">
                                    <img th:src="@{/images/campingImg/10.PNG}" alt="">
                                </div>
                                 <button type="button" id="ceoPicDeleteBtn">삭제</button>
                            </div>

                            <div class="ceoPicContent">
                                <div class="ceoPictureWrapper">
                                    <img th:src="@{/images/campingImg/10.PNG}" alt="">
                                </div>
                                 <button type="button" id="ceoPicDeleteBtn">삭제</button>
                            </div>

                            <div class="ceoPicContent">
                                <div class="ceoPictureWrapper">
                                    <img th:src="@{/images/campingImg/10.PNG}" alt="">
                                </div>
                                 <button type="button" id="ceoPicDeleteBtn">삭제</button>
                            </div>

                        </div>
                    </div>

                    <button type="button" class="arrow" id="right">
                        <img th:src="@{/images/iconImg/right.png}" alt="">
                    </button>

                </div>

            </section>


            <section class="introductionArea">

                <p class="introductionTitle">Introduction</p>

                <hr>

                <p class="introductionContent">아담하고 깨끗한 Catgill 캠핑장입니다.<br>
                    저녁이면 개구리 울음소리가 함께 하는 가족 운영 캠핑장 입니다.<br>
                    부담없이 오셔서 자연 속에서 힐링 되셨으면 좋겠습니다.</p>

            </section>

            <section class="detailsArea">

                <p class="detailsTitle">
                    Details
                </p>

                <hr>

                <div class="details">

                    <div class="campMap">
                        <img th:src="@{/images/campingImg/11.PNG}" alt="">
                    </div>

                    <div class="campDetails">

                        <div>
                            <p>부대시설</p>
                            <hr>
                            <div class="facilityArea">

                                <div class="facilityIcon">
                                    <div class="iconWrapper">
                                        <img th:src="@{/images/iconImg/shower.png}" alt="">
                                    </div>
                                    <p>공용 샤워장</p>
                                </div>

                                <div class="facilityIcon">
                                    <div class="iconWrapper">
                                        <img th:src="@{/images/iconImg/store.png}" alt="">
                                    </div>
                                    <p>편의점 / 매점</p>
                                </div>

                                <div class="facilityIcon">
                                    <div class="iconWrapper">
                                        <img th:src="@{/images/iconImg/bbq.png}" alt="">
                                    </div>
                                    <p>바베큐 장</p>
                                </div>

                                <div class="facilityIcon">
                                    <div class="iconWrapper">
                                        <img th:src="@{/images/iconImg/restroom.png}" alt="">
                                    </div>
                                    <p>공용 화장실</p>
                                </div>

                            </div>
                        </div>


                        <div>
                            <p>주변 환경</p>
                            <hr>
                            <div class="aruondViewArea">
                                <div class="arouundViewIcon">
                                    <div class="iconWrapper">
                                        <img th:src="@{/images/iconImg/mountain.png}" alt="">
                                    </div>
                                    <p>등산로</p>
                                </div>
                            </div>

                        </div>


                        <div>
                            <p>매너타임</p>
                            <hr>
                            <div class="mannerTime">
                                <div class="iconWrapper">
                                    <img th:src="@{/images/iconImg/clock.png}" alt="">
                                </div>
                                <p>22:00 ~ 07:00</p>
                            </div>
                        </div>
                    </div>


                </div>

            </section>

            <section class="reservationArea">

                <p class="reservationTitle">
                    Reservation
                </p>

                <hr>

                <div class="travelDate">

                    <div class="enterDate">
                        <p>입실일 :</p>
                        <input type="date" name="" id="" class="dateInput">
                    </div>
                    
                    <div class="exitDate">
                        <p>퇴실일 : </p>
                        <input type="date" name="" id="" class="dateInput">
                    </div>

                </div>

                <div class="calender">

                    <img th:src="@{/images/iconImg/cal.png}" alt="">

                </div>

            </section>

            <hr>

            <section>

                <form th:action="@{/camp/reservation}" class="campSiteFrm"> 
             
                    <div class="campSite">

                        <input type="radio" name="chooseCampSite" class="campStieRadio" id="campNo1"></input>
                        <label for="campNo1" class="campSiteBox" onclick="">

                            <div class="campSiteImgWrapper">
                                <img th:src="@{/images/campingImg/1.PNG}" alt="">
                            </div>

                            <div class="campSiteInfoContainer">
                                <p>글램핑 구역(B-1)</p>

                                <div class="campSiteInfo">
                                    <div class="campSiteInfoDetail">
                                        <p>남은 자리 <input type="text" name="" id="" value="2개" disabled></p>
                                        <p>수용 인원 <input type="text" name="" id="" value="4명" disabled></p>
                                    </div>
                                    <p class="campSitePrice">100,000 ~</p>
                                </div>
                                

                            </div>

                        </label>
                    </div>

                    <div class="campSite">

                        <input type="radio" name="chooseCampSite" class="campStieRadio" id="campNo2"></input>
                        <label for="campNo2" class="campSiteBox" onclick="">

                            <div class="campSiteImgWrapper">
                                <img th:src="@{/images/campingImg/14.PNG}" alt="">
                            </div>

                            <div class="campSiteInfoContainer">
                                <p>글램핑 구역(B-1)</p>

                                <div class="campSiteInfo">
                                    <div class="campSiteInfoDetail">
                                        <p>남은 자리 <input type="text" name="" id="" value="2개" disabled></p>
                                        <p>수용 인원 <input type="text" name="" id="" value="4명" disabled></p>
                                    </div>
                                    <p class="campSitePrice">100,000 ~</p>
                                </div>
                                

                            </div>

                        </label>
                    </div>

                 
                    <div class="campSite">

                        <input type="radio" name="chooseCampSite" class="campStieRadio" id="campNo3"></input>
                        <label for="campNo3" class="campSiteBox" onclick="">

                            <div class="campSiteImgWrapper">
                                <img th:src="@{/images/campingImg/14.PNG}" alt="">
                            </div>

                            <div class="campSiteInfoContainer">
                                <p>글램핑 구역(B-1)</p>

                                <div class="campSiteInfo">
                                    <div class="campSiteInfoDetail">
                                        <p>남은 자리 <input type="text" name="" id="" value="2개" disabled></p>
                                        <p>수용 인원 <input type="text" name="" id="" value="4명" disabled></p>
                                    </div>
                                    <p class="campSitePrice">100,000 ~</p>
                                </div>
                                

                            </div>

                        </label>
                    </div>

                    <div class="btnArea">

                         <button class="btn" onclick="">다음으로</button>
                         <button type="button" class="btn" onclick="history.back()">돌아가기</button>
                         
                    </div>

                </form>

            </section>

        </div>
        <div id="rightBlank"></div>


	</main>

		<th:block th:replace="~{common/footer}"></th:block>

		<script th:src="@{/js/camp/CampingDetail.js}"></script>
</body>

</html>