<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캠핑 site 업로드</title>
    <link rel="stylesheet" th:href="@{/css/camp/uploadCampingSite.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/iconImg/favicon.png}">
</head>
<body>

    
    <!-- 메인 -->
    <main class="siteUploadMain">

        <!-- 윗 부분 Enroll Site -->
        <section class="enrollSiteSec">

            <div class="enroSiteDiv">
                Enroll Site
            </div>

        </section>

        <section class="enrollSec">

            <section class="enrollTitleImgEnrollSec">

                <section class="titleSec">

                    <div class="titleDiv">
                        Catgill 캠핑장
                    </div>

                </section>

                <section class="enrollImgSec">

                    <button class="imgBtn" type="button">+</button>

                </section>

            </section>

            <section class="locationInfoSec">

                <section class="locationTitleSec">

                    <section class="loactionTitleDiv">
                        장소 정보
                    </section>

                </section>

                <section class="locationInputBlankSec"></section>

                <section class="locationInputSec">

                    <div class="inputNameDiv">
                        구역명(호수)
                    </div>

                    <section class="inputInfoSec">
                        <input type="text" class="inputInfo">
                    </section>

                </section>

                <section class="locationInputSec">

                    <div class="inputNameDiv">
                        유형
                    </div>

                    <section class="inputInfoSec">
                        <input type="text" class="inputInfo">
                    </section>

                </section>

                <section class="locationInputSec">

                    <div class="inputNameDiv">
                        인원
                    </div>

                    <section class="inputInfoSec">
                        
                        <section class="capacitySec">
                            수용 인원
                        </section>

                        <section class="classificationCapacitySec">

                            <select class="classificationCapacity">
                                <option value="선택">선택</option>
                            </select>

                        </section>

                        <section class="maxCapacitySec">
                            / &nbsp; 최대 인원
                        </section>

                        <section class="classificationCapacitySec">
                            
                            <select class="classificationCapacity">
                                <option value="선택">선택</option>
                            </select>

                        </section>

                    </section>

                </section>

                <section class="locationInputSec">

                    <div class="inputNameDiv">
                        가격
                    </div>

                    <section class="inputInfoSec">

                        <input type="text" class="inputInfo">

                    </section>

                </section>

                <section class="locationInputSec">

                    <section class="moreImgSec">
                        <div class="moreImgDiv">
                            더 보기 이미지
                        </div>
                    </section>

                    <section class="moreImgBtnSec">
                        <button class="moreImgBtn">+</button>
                    </section>

                </section>
                
                <section class="inputImgSec">
    
                    <div class="inputImgDiv"></div>
    
                </section>

                

            </section>
            

        </section>
    </main>
</body>
</html>