<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판</title>

    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap}" rel="stylesheet">
    <script th:src="@{https://kit.fontawesome.com/92fbd4b351.js}" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/boardDetail.css}">
</head>
<body>
    
    <main>

        <th:block th:replace="~{common/header}"></th:block>
        
        <ul class="boardClass">
            <li id="allboard">
                <a href="#">자유</a>
            </li>

            <p>|</p>

            <li id="board">
                <a href="#">질문</a>
            </li>

            <p>|</p>

            <li id="checkboard">
                <a href="#">정보공유</a>
            </li>

            <p>|</p>

            <li id="eventboard">
                <a href="#">CEO</a>
            </li>
        </ul>

        <section class="boardTitle">
            <p>자유게시판</p>

        </section>

        <hr style="margin-top: 20px; margin-left: 8%; width: 84%; margin-right: 40%;">

        <section class="boardDetail">
            
            <div class="boardDeLeft">
            </div>

            <div class="boardDeTitle">
                <p>결제 시스템 개편 건의</p>
                <p id="createDate">2023.11.08</p>
                <hr style="margin-top: 20px; width: 65rem;">
                
                <div class="boardContent">

                    <!-- fn:length(board.imageList) : imageList의 길이 반환 -->
	                <!-- 일반 이미지가 있는 경우 -->
					<th:block th:if="${#lists.size(board.imageList) > start}">
					
						<!-- 업로드 이미지 영역 -->
						<h5>업로드 이미지</h5>
						<div class="img-box">
						
							<th:block th:each="i : ${#numbers.sequence(start, #lists.size(board.ImageList)-1, 1)}">
								<div class="boardImg"
									th:with="path=|${board.imageList[i].imagePath}${board.imageList[i].imageReName}|">
									
									<img th:src="${path}">
									<a th:href="${path}" th:download="${board.imageList[i].imageOriginal}">다운로드</a>                
								</div>
							</th:block>
							
		              
		            	</div>
	
	            	</th:block>
	                
                </th:block>

                    <br>
                    <p>카드결제 종류 추가<br>
                    결제 현금 영수증 발행<br>
                    결제 안내 페이지 깔끔하게<br><br>

                    건의합니다</p>
                </div>
            </div>

            <div class="boardDeRight">
                <div>
                    <!-- <c:choose>
                    	<%-- 프로필 이미지가 없을 경우 기본 이미지 출력 --%>
                    	<c:when test="${empty board.profileImage}">
		                    <img src="/resources/images/user.png">
                    	</c:when>
                    	
                    	<%-- 프로필 이미지가 있을 경우 등록한 이미지 출력 --%>
                    	<c:otherwise>
                    		<img src="${board.profileImage}" />
                    	</c:otherwise>
                    
                    </c:choose> -->
                    <p>프로필</p><br><br>

                    <!-- <span>${board.memberNickname}</span>-->
                    <p>닉네임</p><br><br>

                    <!-- 좋아요 하트 -->
                    <!-- <span class="like-area">
                    
                    	<%-- 좋아요 누른적이 없다, 로그인 하지 않았다 --%>
                    	<c:if test="${empty likeCheck}">
	                        <i class="fa-regular fa-heart" id="boardLike"></i>
                    	</c:if>
                    
                    	<%-- 좋아요 누른적이 있다 --%>
                    	<c:if test="${not empty likeCheck}">
	                        <i class="fa-solid fa-heart" id="boardLike"></i>
                    	</c:if>
                    

                        <span>${board.likeCount}</span>
                    </span> -->
                    <p>좋아요</p><br><br>
                    <p>조회수</p>
                </div>

                <div>
                    <button id="listBtn">목록으로</button>
                </div>

            </div>

        </section>

        <hr style="margin-top: 20px; margin-left: 8%; width: 84%; margin-right: 40%;">

        <div class="btnArea">

            <!-- 로그인한 회원과 게시글 작성자 번호가 같은 경우 -->
            <c:if test="${loginMember.memberNo == board.memberNo}">
                <button id="deleteBtn">삭제하기</button>                     
            </c:if>

            <c:if test="${loginMember.memberNo == board.memberNo}">
                <button id="updateBtn">수정하기</button>                     
            </c:if>

        </div>

        <!-- 댓글 include -->
        <th:block th:replace="~{board/comment}"></th:block>
        
    </main>

    <th:block th:replace="~{common/footer}"></th:block>


</body>
</html>