<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판작성</title>

    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Anton&family=Asap:ital,wght@1,600&family=Exo+2:wght@600&family=Exo:wght@700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;0,900;1,200&family=Qwitcher+Grypen:wght@400;700&family=Source+Code+Pro:ital,wght@1,900&display=swap}" rel="stylesheet">
    <script th:src="@{https://kit.fontawesome.com/92fbd4b351.js}" crossorigin="anonymous"></script>
	<link rel="icon" th:href="@{/images/iconImg/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/board/boardWrite.css}">
</head>
<body>
    
    <th:block th:replace="~{common/headerForContent}"></th:block>
    
    <main>

        <ul class="boardTypeList">
            <li>
                <a th:href="@{/board/{boardType}(boardType=B)}">자유게시판</a>
            </li>

            <p>|</p>

            <li id="board">
                <a th:href="@{/board/{boardType}(boardType=N)}">노하우게시판</a>
            </li>

            <p>|</p>

            <li id="ceo">
                <a a th:href="@{/board/{boardType}(boardType=C)}">CEO게시판</a>
            </li>
        </ul>

        <section class="boardHead">
			
			<div id="boardTypeName" th:text="${boardTypeName}">
            	<p>게시판이름</p>
			</div>
			
			<div id="writing">
            	<p>- 글쓰기</p>
			</div>
			
        </section>
        
        <hr style="height: 0.2rem; background-color:black; margin-top: 1rem; margin-left: 8%; width: 84%; margin-right: 40%;">
        
        <form th:action="@{insert}" method="POST" class="board-write" id="boardWriteFrm"
        			enctype="multipart/form-data">
        			
            <!-- 제목 -->
            <h1 class="board-title">
                <input type="text" name="boardTitle" placeholder="제목을 입력해 주세요" th:value="${boardTitle}">
            </h1>
            
            <hr style="margin-top: 35px; width: 55rem;">

			<div class="imgInput">
				
				<!-- 썸네일 영역 -->
	            <div class="img-box">
					<h5>썸네일</h5>
	                <div class="boardImg thumbnail">
	                    <label for="img0">
	                        <div class="uploadImg1">
                        		<img class="preview" onload="onImageLoad(this)">
                        	</div>
	                    </label>
	                    <input type="file" name="images" class="inputImage" id="img0" accept="image/*">
	                    <span class="delete-image">&times;</span>
	                </div>
	            </div>
	
				<!-- 업로드 이미지 영역 -->
	            <div class="img-box">
	                <h5>업로드 이미지</h5>
	                <div class="boardImg">
	                    <label for="img1">
							<div class="uploadImg">
	                        	<img class="preview" onload="onImageLoad(this)">
	                    	</div>
	                    </label>
	                    <input type="file" name="images" class="inputImage" id="img1" accept="image/*">
	                    <span class="delete-image">&times;</span>
	                </div>
	
	                <div class="boardImg">
	                    <label for="img2">
							<div class="uploadImg">
	                        	<img class="preview" onload="onImageLoad(this)">
	                    	</div>
	                    </label>
	                    <input type="file" name="images" class="inputImage" id="img2" accept="image/*">
	                    <span class="delete-image">&times;</span>
	                </div>
	
	                <div class="boardImg">
	                    <label for="img3">
	                        <div class="uploadImg">
	                        	<img class="preview" onload="onImageLoad(this)">
	                    	</div>
	                    </label>
	                    <input type="file" name="images" class="inputImage" id="img3" accept="image/*">
	                    <span class="delete-image">&times;</span>
	                </div>
	
	                <div class="boardImg">
	                    <label for="img4">
	                        <div class="uploadImg">
	                        	<img class="preview" onload="onImageLoad(this)">
	                    	</div>
	                    </label>
	                    <input type="file" name="images" class="inputImage" id="img4" accept="image/*">
	                    <span class="delete-image">&times;</span>
	                </div>
	                
	            </div>
			</div>
			
			<hr style="margin-top: 35px; margin-bottom: 25px; width: 55rem;">
			
            <!-- 내용 -->
            <div class="board-content">
                <textarea name="boardContent" th:text="${boardContent}" placeholder="내용을 입력해 주세요">내용</textarea>
            </div>

        	<hr style="margin-top: 20px; margin-left: 8%; width: 84%; margin-right: 8%;">
	
			<div class="btnArea">
			
            	<button type="submit" id="writeBtn">등록하기</button>
               
            	<button type="button" id="cancelBtn">취소하기</button>
            
            </div>
            
		</form>
		
        
    </main>

    <th:block th:replace="~{common/footer}"></th:block>
    
    <script th:src="@{/js/board/boardWrite.js}"></script>


</body>
</html>