<div id="commentArea" th:object="${member}">
    <!-- 댓글 목록 -->
    <div class="comment-list-area">
        
        <ul id="commentList">
        
	            <!-- 부모/자식 댓글 -->
	            <li class="comment-row"
					th:each="comment : ${board.commentList}"
					th:classappend="${comment.parentNo} != 0 ? child-comment"
					th:object="${comment}"
				>
	                <hr style="margin-top: -4.083rem; margin-bottom: 2rem;">
	                
	                <p class="comment-writer">
	
	                  	<!-- 프로필 이미지 -->
	                    
	                    <!-- 없을 경우 기본 이미지 -->
	                    <img id="comProImg" th:unless="*{memberProfileImg}" th:src="@{/images/boardImg/user.png}">
	                
			            <!-- 있을 경우 프로필 이미지 -->
			            <img id="comProImg" th:if="*{memberProfileImg}" th:src="*{memberProfileImg}">
						
						
	                    <!-- 닉네임 -->
	                    <span>[[*{memberNickname}]]</span>
	                    
	                    <!-- 작성일 -->
	                    <span class="comment-date" th:text="*{commentCreateDate}">작성일</span>
	                </p>
	                
	                <!-- 댓글 내용 -->
                	<p class="comment-content" th:text="*{commentContent}">내용</p>
					
	
	                <!-- 버튼 영역 -->
	                <div class="comment-btn-area" style="margin-bottom: 3rem;">
						<th:block th:if="${session.loginMember?.memberNo != null}">
	                    	<button id="answerBtn" th:onclick="|showInsertComment(*{commentNo}, this)|">답글</button>   
	                    </th:block>
	                    
	                    <!-- 로그인 회원과 댓글 작성자가 같은 경우 -->  
	                    <th:block th:if="${session.loginMember?.memberNo == comment.memberNo}">
		                    <button id="answerBtn" th:onclick="|showUpdateComment(*{commentNo}, this)|">수정</button>     
		                    <button id="answerBtn" th:onclick="|deleteComment(*{commentNo})|">삭제</button>
	                    </th:block>
	                    
	                </div>
	                
	            </li>
        	
        </ul>
        
    </div>
    
    
    <!-- 댓글 작성 부분 -->
    <div class="comment-write-area">
        <textarea id="commentContent"></textarea>
        <button type="button" id="addComment">
            댓글등록
        </button>
 
    </div>

</div>