@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+AC00-D7A3
}

*{
    font-family: 'HakgyoansimSantteutdotumL', 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

main, div, section {
    /* border: 1px solid black; */
}

/* -------------------------- */
/* 헤더바 */
.topBar{
    width: 100%;
    height: 170px;

    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    transition-duration: 0.3s;
    background-color:rgba(255,255,255, 0.8);
    position: sticky;
    top: 0;
}

.topBar:hover{
    background-color: rgb(239, 248, 242);
}

.topMenu{
    width: 100%;

    flex-basis: 5%;

    display: flex;
    justify-content: space-between;
}

.topMenu a{
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.7rem;
}

.mainTitle{
    flex-basis: 50%;
    align-self: center;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    margin: 20px 0;

    height: 60px;
    line-height: 60px;
    color: #333;
    letter-spacing: 5px;
}

.bottomMenu{
    flex-basis: 45%;
    display: flex;
    align-self: center;
}

.bottomMenu a {
    color: #000;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 600;
    font-size: 0.7rem;
     position: sticky;
    top: 0;
}

html {
    scroll-behavior: smooth;
}

a { 
  color: #000;
  display:inline-block; 
  margin:0;
  text-transform:uppercase; }
  
a:after {
  display:block;
  content: '';
  border-bottom: solid 1px #000;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
a:hover:after { transform: scaleX(1); }
/* ------------------------------- */
/* 메인 틀 */
main {
    display: flex;
    margin-top: 50px;
}

.empty1 {
    flex-basis: 15%;
}

#myPageSection {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

/* --------------------------------- */
/* 대제목 */
#headerName {
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

#underLine {
    border: 2px solid black;
    margin-bottom: 50px;
}

/* ------------------------------- */
/* 정보 */

/* 캠핑장 정보 */
#inputInfo {
    display: flex;
}

.empty2 {
    flex-basis: 10%;
}

#infoMain {
    display: flex;
    flex-basis: 80%;
}

.empty3 {
    flex-basis: 15%;
}

#placeInfo {
    display: flex;
    flex-basis: 70%;
    justify-content: space-between;
}

.inputInfo {
    font-size: 18px;
    border-bottom: 2px solid black;
}

#inputTitle input {
    border: none;
    font-size: 15px;
    width: 150px;
}

#inputAddress input {
    border: none;
    font-size: 15px;
    width: 300px;
}

/* --------------------------- */
/* 업로드 할 이미지 */
#uploadImgSection {
    display: flex;
}

#uploadImgTitle {
    font-size: 20px;
    margin-left: 17px;
    margin-bottom: 5px;
    font-weight: 600;
}

#inputImgListSection {
    flex-basis: 80%;
    margin-top: 100px;
}

#mideUnderLine {
    border: 2px solid black;
    margin-bottom: 10px;
}

.inputImgList {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#uploadImgBtn {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.imgBox {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
}

.uploadImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selectImgBtn {
    margin-top: 10px;
}

label {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    font-size: 13px;
}

label:hover {
    cursor: pointer;
}

#uploadCampImg1,
#uploadCampImg2,
#uploadCampImg3,
#uploadCampImg4,
#uploadCampImg5,
#uploadCampImg6,
#uploadCampImg7,
#uploadCampImg8,
#uploadCampImg9 {
    display: none;
}

.deleteProfileImg {
    margin-top: 15px;
}


/* --------------------------- */
/* 캠핑장 정보 입력 */
.inputInfoSection {
    display: flex;
    margin-top: 80px;
}

.inputInfoText {
    flex-basis: 40%;
}

.inputInfoText p {
    text-decoration: underline 2px;
    text-underline-offset: 5px;
    font-weight: bold;
    font-size: 17px;
}

#textareaSection {
    display: flex;
    justify-content: center;
}

#textareaSection textarea {
    margin-top: 20px;
    width: 80%;
    height: 100px;
    resize: none;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 17px;
}

/* ------------------------------ */
/* 서식 전송 버튼 */
#formSendBtn {
    display: flex;
    justify-content: end;
    margin-top: 100px;
}

#sendBtn {
    font-size: 20px;
    font-weight: bold;
}

#sendBtn::after {
    margin-top: 5px;
}

/* ------------------------------ */
/* 풋터 위 공간 */
.empty5 {
    height: 150px;
}


/* --------------------------------- */
/* 풋터 */
.bottomBar { 
    margin: 25px 0 25px 25px ;
    font-family: 'HakgyoansimSantteutdotumL';
    font-weight: 900;
    line-height: 30px;
    
}

.footerTitle {
    flex-basis: 50%;
    align-self: center;
    font-size: 2rem;
    font-weight: 1000;

    height: 60px;
    line-height: 60px;
    color: #333;
    letter-spacing: 3px;
}

.footerMenu {
    display: flex;
    flex-basis: 50%;
    align-self: center;
    font-size: 1rem;
    font-weight: 900;

    color: #333;
    letter-spacing: 1px;
}

.footerMenu a {
    text-decoration: none;
    color: #000;
    font-weight: 100;
}

.menuDiv {
    margin-left: 20px;
    margin-right: 20px;
}

.footerContent {
    width: 100%;
    letter-spacing: 1px;
    font-weight: 100;
}