@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+AC00-D7A3
}

*{
    font-family: 'HakgyoansimSantteutdotumL', 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

main, div, section {
    /* border: 1px solid black; */
}

/* -------------------------- */
/* 메인 틀 */
main {
    display: flex;
    margin-top: 50px;
}

.empty1 {
    flex-basis: 15%;
}

#myPageSection {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

/* --------------------------------- */
/* 대제목 */
#headerName {
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

#underLine {
    border: 2px solid black;
    margin-bottom: 50px;
}

/* ------------------------------- */
/* 정보 */

/* 캠핑장 정보 */
#inputInfo {
    display: flex;
}

.empty2 {
    flex-basis: 10%;
}

#infoMain {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}

.empty3 {
    flex-basis: 15%;
}

#placeInfo {
    display: flex;
    flex-basis: 70%;
    justify-content: space-between;
}

.inputInfo {
    font-size: 18px;
    border-bottom: 2px solid black;
}

#inputTitle input {
    border: none;
    font-size: 15px;
    width: 150px;
}

#inputAddress input {
    border: none;
    font-size: 15px;
    width: 300px;
}

/* ------------------------------ */
/* 서식 전송 버튼 */
#formSendBtn {
    display: flex;
    justify-content: end;
    margin-top: 100px;
}

#sendBtn {
    font-size: 20px;
    font-weight: bold;
}

#sendBtn::after {
    margin-top: 5px;
}

/* ------------------------------ */
/* 풋터 위 공간 */
.empty5 {
    height: 150px;
}