@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+AC00-D7A3
}

*{
    font-family: 'HakgyoansimSantteutdotumL', 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    color: #000;
	display:inline-block; 
	margin:0;
	text-transform:uppercase; 
	font-size: 16px;
}

button { 
  color: #000;
  display:inline-block; 
  margin:0;
  text-transform:uppercase;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
  
input:focus {
	outline: none;
}


main, div, section {
    /* border: 1px solid black; */
}

/* ------------------------------- */
/* 메인 틀 */
main {
    display: flex;
    margin-top: 50px;
}

.empty1 {
    flex-basis: 15%;
}

#searchIdInfoSection {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

/* --------------------------------- */
/* 대제목 */
#headerName {
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

#underLine {
    border: 2px solid black;
    margin-bottom: 40px;
}

/* ------------------------------ */
/* 찾은 아이디 정보 출력 */
#inputInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#withdrawalQuestionSection {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-basis: 40%;
}

#withdrawalQuestionSection > p {
    margin-top: 30px;
}

#withdrawalQuestion {
    font-size: 22px;
}


.inputSignUpInfo::placeholder {
    font-size: 11px;
}

.inputSignUpInfo {
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    padding-left: 10px;
    font-size: 18px;
}

.inputSignUpInfo {
    margin-top: 40px;
}

.sendMassage {
    font-size: 13px;
    margin-top: 5px;
    margin-left: 8px;
}

/* ------------------------------------ */
/* 로그인 페이지로 이동 버튼 */
#selectBtnSection {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#selectBtn {
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
    height: 30px;
}

/* 메세지 색상 지정 */
.confirm{ color : green; }
.error{ color : red; }

.clickBtn {
    background-color: transparent;
    border: none;
    font-size: 17px;
    transition: color 0.3s;
    font-weight: 600;
    cursor: pointer;
}

.clickBtn:hover {
	color: #909090;
}